@media only screen and (max-width: 870px) {
    #first-section-title{
        font-size: 20px !important;
    } 
    #second-section-title{
        font-size: 20px !important;
    } 
    #third-section-title{
        font-size: 20px !important;
    } 
    #fourth-section-title{
        font-size: 20px !important;
    } 
}
@media only screen and (max-width: 356px) {
    #first-section-title{
        font-size: 15px !important;
    } 
    #second-section-title{
        font-size: 15px !important;
    } 
    #third-section-title{
        font-size: 15px !important;
    } 
    #fourth-section-title{
        font-size: 15 !important;
    } 
}
