<body>
    <section class="principal-banner">
        <div class="uk-child-width-expand@s uk-text-center" uk-grid>
            <div>
                <div class="uk-card-body" style="background-color: transparent;">
                    <img src="img/BBVA_RGB_Blanco.png" width="100px" alt="" style="padding-bottom: 20px;">
                    <br>
                    <a href="https://platform.bbva.com/en-us/disciplines-governance/communities/advanced-analytics/index.html#/"
                        id="aaCoPLogo" style="text-decoration: none;" target="_blank" class="communityLogo">
                        <img src="img/LOGO_luigi.png" width="75px" alt="" style="background: #ededed;"
                            class="communityLogo">
                    </a>

                    <a href="https://teamspaces.bbva.com/teamspaces/data-governance-cop/overview" id="dgCoPLogo"
                        style="text-decoration: none;" target="_blank">
                        <img src="img/governance_logo.png" width="80px" alt="" style="background: #ededed;"
                            class="communityLogo">
                    </a>
                    <br>

                    <a href="https://prensabbva.s3.amazonaws.com/2020/NewsletterAdvanceAnalytics/N19/NEWSLETTER_AA_19_SP.html"
                        style="text-decoration: none;" target="_blank" id="news-global">
                        <button class="uk-button uk-button-primary uk-button-large"
                            style="margin-top: 10px; font-size: 10px;" id="buttonNewsAA">Newsletter Advanced Analytics
                            Global</button>
                    </a>
                </div>

            </div>
            <div id="parentHeader">
                <div id="header" class="uk-card-body">
                    <p id="title-header">Newsletter Data Perú</p>
                    <div class="uk-inline">
                        <button class="uk-button uk-button-default" type="button"
                            style="background-color: white;">Edición 4</button>
                        <div uk-dropdown="pos:bottom-center">
                            <ul class="uk-nav uk-dropdown-nav">
                                <li><a href="https://databbvaperu.gitlab.io/newsletter-data/ediciones/ed-6/">Edición 6</a></li>
                                <li><a href="https://databbvaperu.gitlab.io/newsletter-data/ediciones/ed-5/">Edición 5</a></li>
                                <li><a href="https://databbvaperu.gitlab.io/newsletter-data/ediciones/ed-4/">Edición 4</a></li>
                                <li><a href="https://databbvaperu.gitlab.io/newsletter-data/ediciones/ed-3/">Edición 3</a></li>
                                <li><a href="https://databbvaperu.gitlab.io/newsletter-data/ediciones/ed-2/">Edición 2</a></li>
                                <li><a href="https://databbvaperu.gitlab.io/newsletter-data/ediciones/ed-1/">Edición 1</a></li>
                            </ul>
                        </div>
                    </div>
                    <p style="color: gray; padding:0;">#DataDrivenBBVA</p>
                </div>
            </div>
            <div class="hiddenStyle" id="hiddenDivAA">
                <div class="uk-card-body" style="background-color: transparent;">
                </div>
            </div>
        </div>
        </div>
    </section>
    <script>
        function checkWidthH() {
            var w = window.innerWidth
            var h = window.innerHeight
            if (w < 870) {
                var buttonAA = document.getElementById("buttonNewsAA")
                buttonAA.innerHTML = "News Global";
                var hiddenDiv = document.getElementById("hiddenDivAA")
                hiddenDiv.classList.add("hiddenStyle")
                hiddenDiv.classList.remove("showStyle")
            }
            else if (w > 870 && w < 1240) {
                document.getElementById("buttonNewsAA").innerHTML = "Newsletter AA Global";
                var hiddenDiv = document.getElementById("hiddenDivAA")
                hiddenDiv.classList.remove("showStyle")
                hiddenDiv.classList.add("hiddenStyle")

            }
            else {
                document.getElementById("buttonNewsAA").innerHTML = "Newsletter Advanced Analytics Global";
                var hiddenDiv = document.getElementById("hiddenDivAA")
                hiddenDiv.classList.add("showStyle")
                hiddenDiv.classList.remove("hiddenStyle")
            }
        }
        $(document).ready(function () {
            checkWidthH();
        })
        window.addEventListener("resize", function () {
            checkWidthH();
        });

    </script>
</body>
