<body>
    <!--section title or not?-->
    <div style="margin: 0px">
        <div class="uk-width-expand@m uk-grid-small nav_align" style="margin:0px" uk-grid>

            <div class=" uk-card-body uk-align-center parentTextNav" style="padding-top: 55px;">
                <a href="#advancedAnalytics" style="text-decoration: none;">
                    <h3 class="textNav">Advanced Analytics</h3>
                    <img src="img/amarello.svg" alt="">
                </a>
            </div>

            <div class=" uk-card-body uk-align-center parentTextNav">
                <a href="#dataGovernance" style="text-decoration: none;">
                    <h3 class="textNav">Data Governance </h3>
                    <img src="img/blua.svg" alt="">
                </a>
            </div>

            <div class=" uk-card-body uk-align-center parentTextNav">
                <a href="#arqDh" style="text-decoration: none;">
                    <h3 class="textNav">¿Sabías qué?</h3>
                    <img src="img/morak.svg" alt="">
                </a>
            </div>

            <div class="uk-card-body uk-align-center parentTextNav">
                <a href="#acknowledgment" style="text-decoration: none;">
                    <h3 class="textNav">Reconocimientos</h3>
                    <img src="img/contribute.svg" width="58" alt="">
                </a>
            </div>

        </div>
    </div>
</body>