<head>
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-5HY2SV2D93"></script>
    <script>
        window.dataLayer = window.dataLayer || [];
        function gtag(){dataLayer.push(arguments);}
        gtag('js', new Date());
        gtag('config', 'G-8Q40N619V1');
        gtag('config', 'G-CT6J5EZT68');
        gtag('config', 'G-12WRP27K3W');
        gtag('config', 'G-3KTNQVK500');
    </script>
</head>

<body>
    <!-- Second Section Description Banner -->
    <div class="uk-grid-collapse uk-text-center section-title" uk-grid>
        <div class="uk-width-expand">
            <div class="uk-card uk-card-default uk-card-body" id="second-section">
                <h3 id="second-section-title">Data Governance</h3>
            </div>
        </div>
    </div>
    <!-- Second Section Description Cards -->
    <div class="uk-child-width-1-1@s uk-grid-match blog" id="DGparentDiv" uk-grid>
        <div>
            <div class="uk-card uk-card-default uk-card-hover uk-card-body">
                <div class="uk-card-header" uk-grid>
                    <div class="uk-grid-small uk-flex-middle" uk-grid>
                        <div class="uk-width-expand">
                            <img src="img/articulos/DG1 - Data Love.jpg">
                            <h4 class="uk-margin-remove-bottom titleBlogDG">Data Love</h4>
                        </div>
                    </div>
                    <div class="uk-grid-small uk-flex-middle" uk-grid>
                        <div class="uk-width-auto">
                            <img class="uk-border-circle" width="60" height="60" src="img/cumple/Alfredo Lara.PNG">
                        </div>
                        <div class="uk-width-expand name">
                            <p class="uk-text-meta uk-margin-remove-top" style="margin-bottom: 0px;">Alfredo Lara</p>
                            <p class="uk-text-meta uk-margin-remove-top" style="margin-bottom: 0px;">Talent & Culture</p>
                            <p class="uk-text-meta uk-margin-remove-top">josealfredo.lara@bbva.com</p>
                        </div>
                    </div>
                    <div class="uk-grid-small uk-flex-middle" uk-grid>
                        <div class="uk-width-auto">
                            <img class="uk-border-circle" width="60" height="60" src="img/cumple/Maria_Alejandra_Huamaní.PNG">
                        </div>
                        <div class="uk-width-expand name">
                            <p class="uk-text-meta uk-margin-remove-top" style="margin-bottom: 0px;">María Alejandra Huamaní Miranda</p>
                            <p class="uk-text-meta uk-margin-remove-top" style="margin-bottom: 0px;">Talent & Culture</p>
                            <p class="uk-text-meta uk-margin-remove-top">maria.huamani@bbva.com</p>
                        </div>
                    </div>
                    <div class="uk-grid-small uk-flex-middle" uk-grid>
                        <div class="uk-width-auto">
                            <img class="uk-border-circle" width="60" height="60" src="img/cumple/fabrizzioVasquez.jpg">
                        </div>
                        <div class="uk-width-expand name">
                            <p class="uk-text-meta uk-margin-remove-top" style="margin-bottom: 0px;">Fabrizzio Vasquez Pelaez</p>
                            <p class="uk-text-meta uk-margin-remove-top" style="margin-bottom: 0px;">Talent & Culture</p>
                            <p class="uk-text-meta uk-margin-remove-top">fabrizzio.vasquez@bbva.com</p>
                        </div>
                    </div>
                </div>
                <div class="uk-card-body">
                    <p class="large-text">
                        Data Love es una iniciativa de Talento y Cultura Perú que busca determinar los roles y responsabilidades de quienes serán los actores para asegurar la creación, adquisición, integridad, seguridad, calidad y uso de datos e información. Dentro de esta iniciativa incluimos la asociación de “amor a los datos” para concientizar de una manera más eficiente y directa sobre la importancia del Gobierno de Datos.
                    </p>
                </div>
                <div class="uk-card-footer">
                    <div class="uk-grid-small uk-flex-middle" uk-grid>
                        <div class="uk-width-auto">
                            <img class="uk-border-circle" width="30" height="30" src="img/articulos/clock.png">
                        </div>
                        <div class="uk-width-expand name">
                            <p class="uk-text-meta uk-margin-remove-top" style="margin-bottom: 0px;"><b><i>Lectura de 4 min</i></b></p>
                        </div>
                        <br> <br>
                    </div>
                    <a href="https://drive.google.com/file/d/1Vh2cr3_M5iVjkzQap24D4A9EuZKAEU7p/view?usp=sharing"
                        class="uk-button uk-button-text buttonDG" id="dg-ed4-1" style="font-weight: 500;"
                        target="_blank">Conoce más aquí</a>
                </div>
            </div>
        </div>
    </div>
    <script>
        function checkWidthDG() {
            var w = window.innerWidth
            var h = window.innerHeight

            if (w < 920) {
                var aaDIV = document.getElementById("DGparentDiv")
                aaDIV.classList.remove("uk-child-width-1-1@s")
                aaDIV.classList.add("uk-child-width-1-1@s")
                var texts = document.getElementsByClassName("large-text")

                for (var i = 0; i < texts.length; i++) {
                    texts[i].style.overflow = "hidden"
                }

            }
            else {
                var aaDIV = document.getElementById("DGparentDiv")
                aaDIV.classList.add("uk-child-width-1-1@s")
                aaDIV.classList.remove("uk-child-width-1-1@s")
            }
        }
        $(document).ready(function () {
            checkWidthDG();
        })
        window.addEventListener("resize", function () {
            checkWidthDG();
        });        
    </script>
</body>
