<head>
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-5HY2SV2D93"></script>
    <script>
        window.dataLayer = window.dataLayer || [];
        function gtag(){dataLayer.push(arguments);}
        gtag('js', new Date());
        gtag('config', 'G-8Q40N619V1');
        gtag('config', 'G-CT6J5EZT68');
        gtag('config', 'G-12WRP27K3W');
        gtag('config', 'G-3KTNQVK500');
    </script>
</head>

<body>
    
    <!-- Footer -->
    <div class="uk-child-width-1-1@s uk-grid-match" id="" uk-grid>
        <div>
            <div class="uk-card uk-card-body" style="background-color: #042f66;">
                <div class="uk-width-auto">
                    <img class="" width="60" height="60" src="img/chat.png">
                </div>
                <p style="font-size: 20px; color: white; padding-bottom: 0px; margin-bottom: 0px;">Queremos saber tu opinión</p>
                <a href="https://docs.google.com/forms/d/e/1FAIpQLSeOip1E3-_QApudsaEke-uywK-Piod0O-9Wim2RsFJ48_yLzA/viewform" style="text-decoration: none;" target="_blank" id="Bvaloracion">
                    <button class="uk-button uk-button-primary uk-button-large" style="margin-top: 10px; font-size: 10px;" id="Bvaloracion_">Accede a la encuesta de valoración</button>
                </a>
                <div style="padding-top: 10px;">
                    <a href="https://mail.google.com/mail/?view=cm&fs=1&to=dpm-peru.group@bbva.com&su=NewsletterDataPeru&body=Hola&bcc=vriverag@bbva.com" style="text-decoration: none;" target="_blank" id="Bcorreo">
                        <button class="uk-button uk-button-primary uk-button-large" style="margin-top: 10px; font-size: 10px;" id="Bcorreo_">Si quieres compartir una publicación escríbenos a: dpm-peru.group@bbva.com</button>
                    </a>
                </div>
            </div>
        </div>
    </div>
    <script>
        function checkWidthF(){
            var w = window.innerWidth
            var h = window.innerHeight
            if (w<570){
                document.getElementById("Bvaloracion").innerHTML = "Encuesta de valoración";
                document.getElementById("Bcorreo").innerHTML = "Para compartir: dpm-peru.group@bbva.com";
            }
            else if(w < 1250){
                //document.getElementById("buttonAA").innerHTML = "Newsletter AA Global";
                //var hiddenDiv = document.getElementById("hiddenDiv")
                //hiddenDiv.classList.add("showStyle")
                //hiddenDiv.classList.remove("hiddenStyle")
            }
            else{
                document.getElementById("buttonAA").innerHTML = "Newsletter Advanced Analytics Global";
                var hiddenDiv = document.getElementById("hiddenDiv")
                hiddenDiv.classList.add("showStyle")
                hiddenDiv.classList.remove("hiddenStyle")
            }
        }
        $(document).ready(function(){
            checkWidthF();
        })
        window.addEventListener("resize", function(){
            checkWidthF();
        });
    </script>
</body>
