<head>
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-5HY2SV2D93"></script>
    <script>
        window.dataLayer = window.dataLayer || [];
        function gtag(){dataLayer.push(arguments);}
        gtag('js', new Date());

        gtag('config', 'G-5HY2SV2D93');
        gtag('config', 'G-RN7F9GXHXC');
        gtag('config', 'G-QHE59GVQ59');
        gtag('config', 'G-TZFJ15ZSVE');
        gtag('config', 'G-11QMWVEESN');
    </script>
</head>

<body>

    <div class="uk-grid-collapse uk-text-center section-title" uk-grid>
        <div class="uk-width-expand">
            <div class="uk-card uk-card-default uk-card-body" id="fourth-section">
                <h3 id="fourth-section-title">Reconocimientos</h3>
            </div>
        </div>
    </div>

    <div class="uk-child-width-1-1@s uk-grid-match blog" id="DGparentDiv" uk-grid>
        <div style="text-align: center; ">
            <div class="uk-card uk-card-default uk-card-body" id="fourth-subsection">
                <p id="fourth-subsection-title" style="font-weight: 300; color:#525252;">Comprometidos con la comunidad!
                </p>
            </div>
        </div>

        <div style="text-align: center; padding-bottom:20px;">

            <div class="uk-child-width-1-2@s uk-grid-small uk-grid-match uk-text-center" uk-grid
                style="background-color: white;">
                <div style="padding-top: 20px;">
                    <h4 style="padding: 0; margin: 0;">Advanced Analytics</h4>
                    <h4 style="padding: 0; margin: 0;">CoP Highlights</h4>
                    <p style="font-size:x-small">Reconocimiento a los data scientist con mayor participación en la
                        comunidad en el último trimestre.</p>
                    <ul class="uk-list uk-list-divider">
                        <li style="font-size: 14px;" style="padding-bottom: 5px;">
                            <div class="uk-width-auto" style="padding-top: 15px; padding-bottom: 5px;">
                                <img class="uk-border-circle" width="50" height="50" src="img/cumple/Linda_Anicama.PNG">
                            </div>
                            Linda Elizabeth Anicama Matos
                        </li>
                        <li style="font-size: 14px;" style="padding-bottom: 5px;">
                            <div class="uk-width-auto" style="padding-top: 15px; padding-bottom: 5px;">
                                <img class="uk-border-circle" width="50" height="50" src="img/cumple/Yuri_Alexis_Lingan_Roque.jpg">
                            </div>
                            Yuri Alexis Lingan Roque
                        </li>
                        <li style="font-size: 14px;" style="padding-bottom: 5px;">
                            <div class="uk-width-auto" style="padding-top: 15px; padding-bottom: 5px;">
                                <img class="uk-border-circle" width="50" height="50" src="img/cumple/Jose_Luis_Huertas_Villaorduna.jpg">
                            </div>
                            Jose Luis Huertas Villaorduna
                        </li>
                    </ul>
                </div>
                <div style="padding-top: 20px;">
                    <h4 style="padding: 0; margin: 0;">Data Governance</h4>
                    <h4 style="padding: 0; margin: 0;">CoP Highlights</h4>
                    <p style="font-size:x-small">Reconocimiento a los datos owners con mayor participación en la
                        comunidad en el último trimestre.</p>
                    <ul class="uk-list uk-list-divider">
                        <li style="font-size: 14px;" style="padding-bottom: 5px;">
                            <div class="uk-width-auto" style="padding-top: 15px; padding-bottom: 5px;">
                                <img class="uk-border-circle" width="50" height="50" src="img/cumple/Anthony_Leyton.PNG">
                            </div>
                            Anthony Leyton
                        </li>
                        <li style="font-size: 14px;" style="padding-bottom: 5px;">
                            <div class="uk-width-auto" style="padding-top: 15px; padding-bottom: 5px;">
                                <img class="uk-border-circle" width="50" height="50" src="img/cumple/Miriam_Balbuena.PNG">
                            </div>
                            Mirian Balbuena
                        </li>
                        <li style="font-size: 14px;" style="padding-bottom: 5px;">
                            <div class="uk-width-auto" style="padding-top: 15px; padding-bottom: 5px;">
                                <img class="uk-border-circle" width="50" height="50" src="img/cumple/Dianne_Isabel_Giraldo_Vasquez.jpg">
                            </div>
                            Dianne Giraldo
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>

    <div class="uk-child-width-1-1@s uk-grid-match blog" id="DGparentDiv" uk-grid>

        <div>
            <div style="text-align: center; padding-bottom: 10px;">
                <div class="uk-card uk-card-default uk-card-body" id="fourth-subsection">
                    <p id="fourth-subsection-title" style="font-weight: 300; color:#525252;">Cumpleaños y Aniversarios
                        de enero, febrero y marzo!</p>
                </div>
            </div>

            <script>
                $(function () {
                    $("#birhday").load("birthday.html");
                });
            </script>
            <div id="birhday"></div>
        </div>
    </div>
