<head>
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-5HY2SV2D93"></script>
    <script>
        window.dataLayer = window.dataLayer || [];
        function gtag(){dataLayer.push(arguments);}
        gtag('js', new Date());

        gtag('config', 'G-5HY2SV2D93');
        gtag('config', 'G-RN7F9GXHXC');
        gtag('config', 'G-QHE59GVQ59');
        gtag('config', 'G-TZFJ15ZSVE');
        gtag('config', 'G-11QMWVEESN');
    </script>
</head>

<body>

    <!-- First Section Description Banner -->
    <div class="uk-grid-collapse uk-text-center section-title" uk-grid>
        <div class="uk-width-expand">
            <div class="uk-card uk-card-default  uk-card-body" id="first-section">
                <h3 id="first-section-title">Advanced Analytics</h3>
            </div>
        </div>
    </div>
    <!-- First Section 1 info -->
    <div class="uk-child-width-1-1@s uk-grid-match blog" id="AAparentDiv" uk-grid>
        <div>
            <div class="uk-card uk-card-default uk-card-hover uk-card-body">
                <div class="uk-card-header">

                    <div class="uk-grid-small uk-flex-middle" uk-grid>
                        <div class="uk-width-expand">
                            <img src="img/articulos/AA1_.jpg">
                            <h4 class="uk-margin-remove-bottom titleBlogAA">Productivización de modelos de Machine Learning en Datio
                            </h4>
                        </div>
                    </div>

                    <div class="uk-grid-small uk-flex-stretch" uk-grid>
                        <div class="uk-width-auto">
                            <img class="uk-border-circle" width="60" height="60" src="img/cumple/Oscar_Dueñas.PNG">
                        </div>
                        <div class="uk-width-expand name">
                            <p class="uk-text-meta uk-margin-remove-top" style="margin-bottom: 0px;">Oscar Dueñas</p>
                            <p class="uk-text-meta uk-margin-remove-top" style="margin-bottom: 0px;">Data Scientist Finance</p>
                            <p class="uk-text-meta uk-margin-remove-top">oscar.duenas@bbva.com</p>
                        </div>
                        <div class="uk-width-auto">
                            <img class="uk-border-circle" width="60" height="60" src="img/cumple/Jean_Ichpas.PNG">
                        </div>
                        <div class="uk-width-expand name">
                            <p class="uk-text-meta uk-margin-remove-top" style="margin-bottom: 0px;">Jean Ichpas</p>
                            <p class="uk-text-meta uk-margin-remove-top" style="margin-bottom: 0px;">Data Scientist Finance</p>
                            <p class="uk-text-meta uk-margin-remove-top">jean.ichpas@bbva.com</p>
                        </div>
                        <div class="uk-width-auto">
                            <img class="uk-border-circle" width="60" height="60" src="img/cumple/Cristian_Rashuamán.PNG">
                        </div>
                        <div class="uk-width-expand name">
                            <p class="uk-text-meta uk-margin-remove-top" style="margin-bottom: 0px;">Cristian Rashuaman</p>
                            <p class="uk-text-meta uk-margin-remove-top" style="margin-bottom: 0px;">Data Scientist Finance</p>
                            <p class="uk-text-meta uk-margin-remove-top">cristian.rashuaman@bbva.com</p>
                        </div>
                    </div>

                </div>
                
                <div class="uk-card-body">
                    <p class="large-text">
                        Nuestro objetivo como Proyecto era realizar un modelo de ML para proyectar la Nueva Producción a través 
                        del arquetipo de Scala y siendo uno de los primeros Casos de Uso nos propusimos explorar todas las 
                        alternativas de Modelo de Solución y experiencias en desarrollos de este tipo disponibles en todas las 
                        geografías. Fue así que nos fuimos dando cuenta que era necesario tener un modelo que no solo permita 
                        tener el balance óptimo entre bias y variance para resolver una necesidad de estimación sino que también 
                        permita una mayor flexibilidad para su mantenimiento en ambiente Live y que optimice el uso de los 
                        recursos en productivos  por lo que explorando como Data Scientists, con el apoyo de nuestro Líder Técnico, 
                        de la Comunidad de Advanced Analytics y de Datahub y Arquitectura Local y Holding encontramos una nueva y 
                        mejor alternativa como modelo de solución.
                    </p>
                </div>

                <div class="uk-card-footer">
                    <div class="uk-grid-small uk-flex-middle" uk-grid>
                        <div class="uk-width-auto">
                            <img class="uk-border-circle" width="30" height="30" src="img/articulos/clock.png">
                        </div>
                        <div class="uk-width-expand name">
                            <p class="uk-text-meta uk-margin-remove-top" style="margin-bottom: 0px;"><b><i>Lectura de 4 min</i></b></p>
                        </div>
                        <br> <br>
                    </div>
                    <a href="https://drive.google.com/file/d/1NPnQDNwcoLrdcipa9QKNt-r-I094DLf-/view?usp=sharing"
                        class="uk-button uk-button-text buttonAA" id="aa-ed4-1" style="font-weight: 500;" target="_blank">Conoce más aquí</a>
                </div>
            </div>

            <div class="uk-card uk-card-default uk-card-hover uk-card-body">
                <div class="uk-card-header">

                    <div class="uk-grid-small uk-flex-middle" uk-grid>
                        <div class="uk-width-expand">
                            <img src="img/articulos/AA2_.jpg">
                            <h4 class="uk-margin-remove-bottom titleBlogAA">Modelo adquisición de tarjeta - No Cliente
                            </h4>
                        </div>
                    </div>

                    <div class="uk-grid-small uk-flex-middle" uk-grid>
                        <div class="uk-width-auto">
                            <img class="uk-border-circle" width="60" height="60" src="img/cumple/Linda_Anicama.PNG">
                        </div>
                        <div class="uk-width-expand name">
                            <p class="uk-text-meta uk-margin-remove-top" style="margin-bottom: 0px;">Linda Anicama</p>
                            <p class="uk-text-meta uk-margin-remove-top" style="margin-bottom: 0px;">Data Scientist Client Solutions</p>
                            <p class="uk-text-meta uk-margin-remove-top">linda.anicama@bbva.com</p>
                        </div>
                    </div>

                </div>
                
                <div class="uk-card-body">
                    <p class="large-text">
                        Dentro  de la Base de Ofertas Aprobadas (BOA) que envía Riesgos, se encuentran las ofertas de 
                        Tarjeta de Crédito para Clientes y No Clientes. En esta ocasión nos centraremos en “No Clientes” 
                        que suele ser un público más complicado para gestionar debido a la poca información que se tiene 
                        de ellos dentro del banco. Como se observa en la figura, la efectividad de venta en No clientes 
                        oscila entre 0.4%-0.6% en periodo Pre-Covid, sin embargo, en periodo Covid (Mar-20 a May-20) esta 
                        efectividad se vió afectada obteniendo un 0.2% en promedio de efectividad de  venta.
                    </p>
                </div>

                <div class="uk-card-footer">
                    <div class="uk-grid-small uk-flex-middle" uk-grid>
                        <div class="uk-width-auto">
                            <img class="uk-border-circle" width="30" height="30" src="img/articulos/clock.png">
                        </div>
                        <div class="uk-width-expand name">
                            <p class="uk-text-meta uk-margin-remove-top" style="margin-bottom: 0px;"><b><i>Lectura de 4 min</i></b></p>
                        </div>
                        <br> <br>
                    </div>
                    <a href="https://drive.google.com/file/d/1M3KMC-JT2IGq4f1n981rl9jASyJ_JLq-/view?usp=sharing"
                        class="uk-button uk-button-text buttonAA" id="aa-ed4-1" style="font-weight: 500;" target="_blank">Conoce más aquí</a>
                </div>
            </div>

            <div class="uk-card uk-card-default uk-card-hover uk-card-body">
                <div class="uk-card-header">

                    <div class="uk-grid-small uk-flex-middle" uk-grid>
                        <div class="uk-width-expand">
                            <img src="img/articulos/AA3_.jpg">
                            <h4 class="uk-margin-remove-bottom titleBlogAA">Análisis de Rentabilidad de Oficinas BCOM
                            </h4>
                        </div>
                    </div>

                    <div class="uk-grid-small uk-flex-middle" uk-grid>
                        <div class="uk-width-auto">
                            <img class="uk-border-circle" width="60" height="60" src="img/cumple/Yuri_Alexis_Lingan_Roque.jpg">
                        </div>
                        <div class="uk-width-expand name">
                            <p class="uk-text-meta uk-margin-remove-top" style="margin-bottom: 0px;">Yuri Lingan</p>
                            <p class="uk-text-meta uk-margin-remove-top" style="margin-bottom: 0px;">Data Scientist Finance</p>
                            <p class="uk-text-meta uk-margin-remove-top">yuri.lingan@bbva.com</p>
                        </div>
                    </div>

                </div>
                
                <div class="uk-card-body">
                    <p class="large-text">
                        Desde la CoE Finanzas queremos evaluar la rentabilidad de nuestras oficinas de la Banca 
                        Comercial; tomando para ello, las principales métricas (Saldos, Margen Financiero, RORC(*), 
                        etc). Esto nos permitirá apoyar en estrategias diferenciadas de acuerdo a la situación actual 
                        de cada una de ellas (mejorar spread, revisión perfiles de riesgo, foco en los costos/gastos, 
                        consumo capital, etc.).
                    </p>
                </div>

                <div class="uk-card-footer">
                    <div class="uk-grid-small uk-flex-middle" uk-grid>
                        <div class="uk-width-auto">
                            <img class="uk-border-circle" width="30" height="30" src="img/articulos/clock.png">
                        </div>
                        <div class="uk-width-expand name">
                            <p class="uk-text-meta uk-margin-remove-top" style="margin-bottom: 0px;"><b><i>Lectura de 4 min</i></b></p>
                        </div>
                        <br> <br>
                    </div>
                    <a href="https://drive.google.com/file/d/1UndW7nd5XARTrpXLntnL8WzZWEWjqi11/view?usp=sharing"
                        class="uk-button uk-button-text buttonAA" id="aa-ed4-1" style="font-weight: 500;" target="_blank">Conoce más aquí</a>
                </div>
            </div>


        </div>
     <div>

    <script>
        function checkWidth() {
            var w = window.innerWidth
            var h = window.innerHeight

            if (w < 920) {
                var aaDIV = document.getElementById("AAparentDiv")
                aaDIV.classList.remove("uk-child-width-1-1@s")
                aaDIV.classList.add("uk-child-width-1-1@s")
                var texts = document.getElementsByClassName("large-text")

                for (var i = 0; i < texts.length; i++) {
                    texts[i].style.overflow = "hidden"
                }

            }
            else {
                var aaDIV = document.getElementById("AAparentDiv")
                aaDIV.classList.add("uk-child-width-1-1@s")
                aaDIV.classList.remove("uk-child-width-1-1@s")
                }
            }
        }
        $(document).ready(function () {
            checkWidth();
        })
        window.addEventListener("resize", function () {
            checkWidth();
        });

    </script>

</body>
