<head>
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-5HY2SV2D93"></script>
    <script>
        window.dataLayer = window.dataLayer || [];
        function gtag(){dataLayer.push(arguments);}
        gtag('js', new Date());

        gtag('config', 'G-5HY2SV2D93');
        gtag('config', 'G-RN7F9GXHXC');
        gtag('config', 'G-QHE59GVQ59');
        gtag('config', 'G-TZFJ15ZSVE');
        gtag('config', 'G-11QMWVEESN');
    </script>
</head>

<body>

    <!-- Third Section Description Banner -->
    <div class="uk-grid-collapse uk-text-center section-title" uk-grid>
        <div class="uk-width-expand">
            <div class="uk-card uk-card-default  uk-card-body" id="third-section">
                <h3 id="third-section-title">¿Sabias qué?</h3>
            </div>
        </div>
    </div>

    <div class="uk-child-width-1-1@s uk-grid-match blog" id="ADparentDiv" uk-grid>
        <div>
            <div class="uk-card uk-card-default uk-card-hover uk-card-body">
                <div class="uk-card-header">
                    <div class="uk-grid-small uk-flex-middle" uk-grid>
                        <div class="uk-width-expand">
                            <img src="img/articulos/SQ1_.jpg">
                            <h4 class="uk-margin-remove-bottom titleBlogSQ">Ingesta de parametrías y ajustes  a través de Launchpad
                            </h4>
                        </div>
                    </div>
                    <div class="uk-grid-small uk-flex-middle" uk-grid>
                        <div class="uk-width-auto">
                            <img class="uk-border-circle" width="60" height="60" src="img/cumple/Javier_Vilcapoma.PNG">
                        </div>
                        <div class="uk-width-expand name">
                            <p class="uk-text-meta uk-margin-remove-top" style="margin-bottom: 0px;">Javier Vilcapoma</p>
                            <p class="uk-text-meta uk-margin-remove-top" style="margin-bottom: 0px;">Data Portfolio Management</p>
                            <p class="uk-text-meta uk-margin-remove-top">javier.vilcapoma@bbva.com</p>
                        </div>
                    </div>
                </div>
                <div class="uk-card-body">
                    <p class="large-text">
                        En la ingesta de datos en Datio, se tienen muchas casuísticas identificadas diferentes 
                        que se encuentran durante análisis de la fuente para el dictamen de la TDS. Una de estas 
                        casuísticas es sobre las fuentes que no se encuentran en sistemas mantenidos por 
                        ingeniería (oracle, sql, sas, etc), ajustes manuales efectuados por usuario y parametrías. 
                        Launchpad se desarrolló para cubrir esa necesidad y a continuación se detallará todo lo que 
                        deben saber y los próximos pasos de esta herramienta.
                    </p>
                </div>
                <div class="uk-card-footer">
                    <div class="uk-grid-small uk-flex-middle" uk-grid>
                        <div class="uk-width-auto">
                            <img class="uk-border-circle" width="30" height="30" src="img/articulos/clock.png">
                        </div>
                        <div class="uk-width-expand name">
                            <p class="uk-text-meta uk-margin-remove-top" style="margin-bottom: 0px;"><b><i>Lectura de 3 min</i></b></p>
                        </div>
                        <br> <br>
                    </div>
                    <a href="https://drive.google.com/file/d/1gB55j_-4axevvTwTGtncoDmqKOsXvwy0/view?usp=sharing"
                        class="uk-button uk-button-text buttonSQ" id="dg-ed4-1" style="font-weight: 500;"
                        target="_blank">Conoce más aquí</a>
                </div>
            </div>
        </div>
    </div>
    <script>
        function checkWidthAD() {
            var w = window.innerWidth
            var h = window.innerHeight

            if (w < 920) {
                var aaDIV = document.getElementById("ADparentDiv")
                aaDIV.classList.remove("uk-child-width-1-1@s")
                aaDIV.classList.add("uk-child-width-1-1@s")
                var texts = document.getElementsByClassName("large-text")

                for (var i = 0; i < texts.length; i++) {
                    texts[i].style.overflow = "hidden"
                }

            }
            else {
                var aaDIV = document.getElementById("ADparentDiv")
                aaDIV.classList.add("uk-child-width-1-1@s")
                aaDIV.classList.remove("uk-child-width-1-1@s")
            }
        }
        $(document).ready(function () {
            checkWidthAD();
        })
        window.addEventListener("resize", function () {
            checkWidthAD();
        });        
    </script>

</body>
