<head>
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-5HY2SV2D93"></script>
    <script>
        window.dataLayer = window.dataLayer || [];
        function gtag(){dataLayer.push(arguments);}
        gtag('js', new Date());

        gtag('config', 'G-5HY2SV2D93');
        gtag('config', 'G-RN7F9GXHXC');
        gtag('config', 'G-QHE59GVQ59');
        gtag('config', 'G-TZFJ15ZSVE');
        gtag('config', 'G-11QMWVEESN');
    </script>
</head>

<body>

    <!-- Second Section Description Banner -->
    <div class="uk-grid-collapse uk-text-center section-title" uk-grid>
        <div class="uk-width-expand">
            <div class="uk-card uk-card-default uk-card-body" id="second-section">
                <h3 id="second-section-title">Data Governance</h3>
            </div>
        </div>
    </div>
    <!-- Second Section Description Cards -->
    <div class="uk-child-width-1-1@s uk-grid-match blog" id="DGparentDiv" uk-grid>
        <div>
            <div class="uk-card uk-card-default uk-card-hover uk-card-body">
                <div class="uk-card-header">
                    
                    <div class="uk-grid-small uk-flex-middle" uk-grid>
                        <div class="uk-width-expand">
                            <img src="img/articulos/DG1_.jpg">
                            <h4 class="uk-margin-remove-bottom titleBlogDG">Portal de calidad en Data Studio
                            </h4>
                        </div>
                    </div>

                    <div class="uk-grid-small uk-flex-middle" uk-grid>
                        <div class="uk-width-auto">
                            <img class="uk-border-circle" width="60" height="60" src="img/cumple/Javier_Vilcapoma.PNG">
                        </div>
                        <div class="uk-width-expand name">
                            <p class="uk-text-meta uk-margin-remove-top" style="margin-bottom: 0px;">Javier Vilcapoma</p>
                            <p class="uk-text-meta uk-margin-remove-top" style="margin-bottom: 0px;">Data Portfolio Management</p>
                            <p class="uk-text-meta uk-margin-remove-top">javier.vilcapoma@bbva.com</p>
                        </div>
                    </div>

                </div>
                <div class="uk-card-body">
                    <p class="large-text">
                        Con el objetivo de visualizar el cumplimiento de las reglas de calidad implementadas 
                        en Hammurabi durante la ingesta de datos en Datio, Holding disponibilizo a las geografías 
                        el portal de calidad. Este dashboard nos muestra uno a uno la definición de reglas de 
                        calidad y su grado de cumplimiento. En este artículo se dará un vistazo general sobre este portal.
                    </p>
                </div>
                <div class="uk-card-footer">
                    <div class="uk-grid-small uk-flex-middle" uk-grid>
                        <div class="uk-width-auto">
                            <img class="uk-border-circle" width="30" height="30" src="img/articulos/clock.png">
                        </div>
                        <div class="uk-width-expand name">
                            <p class="uk-text-meta uk-margin-remove-top" style="margin-bottom: 0px;"><b><i>Lectura de 7 min</i></b></p>
                        </div>
                        <br> <br>
                    </div>
                    <a href="https://drive.google.com/file/d/15d3MstygfsK1RdItoIIJ9ljdw8GN5N-N/view?usp=sharing"
                        class="uk-button uk-button-text buttonDG" id="dg-ed4-1" style="font-weight: 500;"
                        target="_blank">Conoce más aquí</a>
                </div>
            </div>
        </div>
    </div>
    <script>
        function checkWidthDG() {
            var w = window.innerWidth
            var h = window.innerHeight

            if (w < 920) {
                var aaDIV = document.getElementById("DGparentDiv")
                aaDIV.classList.remove("uk-child-width-1-1@s")
                aaDIV.classList.add("uk-child-width-1-1@s")
                var texts = document.getElementsByClassName("large-text")

                for (var i = 0; i < texts.length; i++) {
                    texts[i].style.overflow = "hidden"
                }

            }
            else {
                var aaDIV = document.getElementById("DGparentDiv")
                aaDIV.classList.add("uk-child-width-1-1@s")
                aaDIV.classList.remove("uk-child-width-1-1@s")
            }
        }
        $(document).ready(function () {
            checkWidthDG();
        })
        window.addEventListener("resize", function () {
            checkWidthDG();
        });        
    </script>


</body>
