<head>
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-5HY2SV2D93"></script>
    <script>
        window.dataLayer = window.dataLayer || [];
        function gtag(){dataLayer.push(arguments);}
        gtag('js', new Date());

        gtag('config', 'G-5HY2SV2D93');
        gtag('config', 'G-RN7F9GXHXC');
        gtag('config', 'G-QHE59GVQ59');
        gtag('config', 'G-TZFJ15ZSVE');
        gtag('config', 'G-11QMWVEESN');
    </script>
</head>

<body>

    <!--section title or not?-->

    <div style="margin: 0px">
        <div class="uk-width-expand@m uk-grid-small nav_align" style="margin:0px" uk-grid>
            
            <div class=" uk-card-body uk-align-center parentTextNav" style="padding-top: 55px;">
                <a href="#advancedAnalytics" style="text-decoration: none;">
                    <h3 class="textNav">Advanced Analytics</h3>
                    <img src="img/amarello.svg" alt="">
                </a>
            </div>

            <div class=" uk-card-body uk-align-center parentTextNav">
                <a href="#dataGovernance" style="text-decoration: none;">
                    <h3 class="textNav">Data Governance </h3>
                    <img src="img/blua.svg" alt="">
                </a>
            </div>

            <div class=" uk-card-body uk-align-center parentTextNav">
                <a href="#arqDh" style="text-decoration: none;">
                    <h3 class="textNav">¿Sabías qué?</h3>
                    <img src="img/morak.svg" alt="">
                </a>
            </div>

            <div class="uk-card-body uk-align-center parentTextNav">
                <a href="#acknowledgment" style="text-decoration: none;">
                    <h3 class="textNav">Reconocimientos</h3>
                    <img src="img/contribute.svg" width="58" alt="">
                </a>
            </div>

        </div>
    </div>
</body>
