<head>
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-5HY2SV2D93"></script>
    <script>
        window.dataLayer = window.dataLayer || [];
        function gtag(){dataLayer.push(arguments);}
        gtag('js', new Date());
        gtag('config', 'G-8Q40N619V1');
        gtag('config', 'G-CT6J5EZT68');
        gtag('config', 'G-12WRP27K3W');
        gtag('config', 'G-3KTNQVK500');
    </script>
</head>

<body>

    <!-- First Section Description Banner -->
    <div class="uk-grid-collapse uk-text-center section-title" uk-grid>
        <div class="uk-width-expand">
            <div class="uk-card uk-card-default  uk-card-body" id="first-section">
                <h3 id="first-section-title">Advanced Analytics</h3>
            </div>
        </div>
    </div>
    <!-- First Section 1 info -->
    <div class="uk-child-width-1-1@s uk-grid-match blog" id="AAparentDiv" uk-grid>
        <div>
            <div class="uk-card uk-card-default uk-card-hover uk-card-body">
                <div class="uk-card-header">

                    <div class="uk-grid-small uk-flex-middle" uk-grid>
                        <div class="uk-width-expand">
                            <img src="img/articulos/AA1 - Modelo Activación Tarjeta de Crédito 1.jpg">
                            <h4 class="uk-margin-remove-bottom titleBlogAA">Modelo Activación Tarjeta de Crédito</h4>
                        </div>
                    </div>

                    <div class="uk-grid-small uk-flex-middle" uk-grid>
                        <div class="uk-width-auto">
                            <img class="uk-border-circle" width="60" height="60" src="img/cumple/Linda Anicama.PNG">
                        </div>
                        <div class="uk-width-expand name">
                            <p class="uk-text-meta uk-margin-remove-top" style="margin-bottom: 0px;">Linda Anicama</p>
                            <p class="uk-text-meta uk-margin-remove-top" style="margin-bottom: 0px;">Advanced Analytics COE</p>
                            <p class="uk-text-meta uk-margin-remove-top">linda.anicama@bbva.com</p>
                        </div>
                    </div>

                </div>
                
                <div class="uk-card-body">
                    <p class="large-text">
                        Si bien la venta de la tarjeta de crédito es un objetivo principal en el banco, el que los clientes continúen haciendo uso de ella y que mantengan su deuda con nosotros es necesario para mantener la vinculación con ellos y evitar su posible fuga. Por lo cual, se desarrollaron 2 modelos analíticos a partir del parquet de clientes con tarjeta de crédito inactiva (3 últimos meses consecutivos sin realizar compras) con un ratio de activación del 12.6% y 2.5% de universos inactivos de 64M y 102M respectivamente para identificar qué grupos son más propensos a activar nuevamente su tarjeta de crédito en el siguiente mes.
                    </p>
                </div>

                <div class="uk-card-footer">
                    <div class="uk-grid-small uk-flex-middle" uk-grid>
                        <div class="uk-width-auto">
                            <img class="uk-border-circle" width="30" height="30" src="img/articulos/clock.png">
                        </div>
                        <div class="uk-width-expand name">
                            <p class="uk-text-meta uk-margin-remove-top" style="margin-bottom: 0px;"><b><i>Lectura de 5.5 min</i></b></p>
                        </div>
                        <br> <br>
                    </div>
                    <a href="https://drive.google.com/file/d/12J8zylYrcG3W4ViLvwnX6JKC2PJamDMq/view?usp=sharing"
                        class="uk-button uk-button-text buttonAA" id="aa-ed4-1" style="font-weight: 500;" target="_blank">Conoce más aquí</a>
                </div>
            </div>

            <div class="uk-card uk-card-default uk-card-hover uk-card-body">
                <div class="uk-card-header">

                    <div class="uk-grid-small uk-flex-middle" uk-grid>
                        <div class="uk-width-expand">
                            <img src="img/articulos/AA2 - Uso de WoE IV en modelos de clasificación.jpg">
                            <h4 class="uk-margin-remove-bottom titleBlogAA">Uso de WoE IV en modelos de clasificación</h4>
                        </div>
                    </div>

                    <div class="uk-grid-small uk-flex-middle" uk-grid>
                        <div class="uk-width-auto">
                            <img class="uk-border-circle" width="60" height="60" src="img/cumple/Yuri_Alexis_Lingan_Roque.jpg">
                        </div>
                        <div class="uk-width-expand name">
                            <p class="uk-text-meta uk-margin-remove-top" style="margin-bottom: 0px;">Yuri Lingan</p>
                            <p class="uk-text-meta uk-margin-remove-top" style="margin-bottom: 0px;">Financial Data</p>
                            <p class="uk-text-meta uk-margin-remove-top">yuri.lingan@bbva.com</p>
                        </div>
                    </div>

                </div>
                
                <div class="uk-card-body">
                    <p class="large-text">
                        Dentro de los modelos de Clasificación, necesitamos poder diferenciar aquellas variables que tienen un mayor poder predictivo y además, dentro de estas variables; diferenciar aquellas "categorías" que aportan más al modelo. En este artículo se comenta cómo realizar el cálculo tanto del WoE (Weight of evidence) como IV (Information Value) de manera manual, y adicionalmente usaremos la librería Scorecardpy, que nos provee otras funcionalidades (selección de variables, WoE, IV, ploteo de los WoEbin, etc.)
                    </p>
                </div>

                <div class="uk-card-footer">
                    <div class="uk-grid-small uk-flex-middle" uk-grid>
                        <div class="uk-width-auto">
                            <img class="uk-border-circle" width="30" height="30" src="img/articulos/clock.png">
                        </div>
                        <div class="uk-width-expand name">
                            <p class="uk-text-meta uk-margin-remove-top" style="margin-bottom: 0px;"><b><i>Lectura de 5 min</i></b></p>
                        </div>
                        <br> <br>
                    </div>
                    <a href="https://drive.google.com/file/d/1J20AKd2M_v9ovxdYOOD164wAvszU1YkN/view?usp=sharing"
                        class="uk-button uk-button-text buttonAA" id="aa-ed4-1" style="font-weight: 500;" target="_blank">Conoce más aquí</a>
                </div>
            </div>
        </div>
    <div>

    <script>
        function checkWidth() {
            var w = window.innerWidth
            var h = window.innerHeight

            if (w < 920) {
                var aaDIV = document.getElementById("AAparentDiv")
                aaDIV.classList.remove("uk-child-width-1-1@s")
                aaDIV.classList.add("uk-child-width-1-1@s")
                var texts = document.getElementsByClassName("large-text")

                for (var i = 0; i < texts.length; i++) {
                    texts[i].style.overflow = "hidden"
                }
            }
            else {
                var aaDIV = document.getElementById("AAparentDiv")
                aaDIV.classList.add("uk-child-width-1-1@s")
                aaDIV.classList.remove("uk-child-width-1-1@s")
            }
        }
        $(document).ready(function () {
            checkWidth();
        })
        window.addEventListener("resize", function () {
            checkWidth();
        });
    </script>
</body>
