<head>
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-5HY2SV2D93"></script>
    <script>
        window.dataLayer = window.dataLayer || [];
        function gtag(){dataLayer.push(arguments);}
        gtag('js', new Date());
        gtag('config', 'G-8Q40N619V1');
        gtag('config', 'G-CT6J5EZT68');
        gtag('config', 'G-12WRP27K3W');
        gtag('config', 'G-3KTNQVK500');
    </script>
</head>

<body>
    <!-- Third Section Description Banner -->
    <div class="uk-grid-collapse uk-text-center section-title" uk-grid>
        <div class="uk-width-expand">
            <div class="uk-card uk-card-default  uk-card-body" id="third-section">
                <h3 id="third-section-title">¿Sabias qué?</h3>
            </div>
        </div>
    </div>

    <div class="uk-child-width-1-1@s uk-grid-match blog" id="ADparentDiv" uk-grid>
        <div>
            <div class="uk-card uk-card-default uk-card-hover uk-card-body">
                <div class="uk-card-header" uk-grid>
                    <div class="uk-grid-small uk-flex-middle" uk-grid>
                        <div class="uk-width-expand">
                            <img src="img/articulos/SQ1 - Data Portfolio - encabezado.png">
                            <h4 class="uk-margin-remove-bottom titleBlogSQ">¡Comienza a explorar el Data Portfolio!</h4>
                        </div>
                    </div>
                    <div class="uk-grid-small uk-flex-middle" uk-grid>
                        <div class="uk-width-auto">
                            <img class="uk-border-circle" width="60" height="60" src="img/cumple/Mónica Nureña.PNG">
                        </div>
                        <div class="uk-width-expand name">
                            <p class="uk-text-meta uk-margin-remove-top" style="margin-bottom: 0px;">Mónica Nureña</p>
                            <p class="uk-text-meta uk-margin-remove-top" style="margin-bottom: 0px;">Data Portfolio Management</p>
                            <p class="uk-text-meta uk-margin-remove-top">mnurenag@bbva.com</p>
                        </div>
                    </div>
                    <div class="uk-grid-small uk-flex-middle" uk-grid>
                        <div class="uk-width-auto">
                            <img class="uk-border-circle" width="60" height="60" src="img/cumple/Vidina Rivera.PNG">
                        </div>
                        <div class="uk-width-expand name">
                            <p class="uk-text-meta uk-margin-remove-top" style="margin-bottom: 0px;">Vidina Rivera</p>
                            <p class="uk-text-meta uk-margin-remove-top" style="margin-bottom: 0px;">Data Portfolio Management</p>
                            <p class="uk-text-meta uk-margin-remove-top">vriverag@bbva.com</p>
                        </div>
                    </div>
                    <div class="uk-grid-small uk-flex-middle" uk-grid>
                        <div class="uk-width-auto">
                            <img class="uk-border-circle" width="60" height="60" src="img/cumple/Javier Vilcapoma.PNG">
                        </div>
                        <div class="uk-width-expand name">
                            <p class="uk-text-meta uk-margin-remove-top" style="margin-bottom: 0px;">Javier Vilcapoma</p>
                            <p class="uk-text-meta uk-margin-remove-top" style="margin-bottom: 0px;">Data Portfolio Management</p>
                            <p class="uk-text-meta uk-margin-remove-top">javier.vilcapoma@bbva.com</p>
                        </div>
                    </div>
                    <div class="uk-grid-small uk-flex-middle" uk-grid>
                        <div class="uk-width-auto">
                            <img class="uk-border-circle" width="60" height="60" src="img/cumple/Paola Fonseca.PNG">
                        </div>
                        <div class="uk-width-expand name">
                            <p class="uk-text-meta uk-margin-remove-top" style="margin-bottom: 0px;">Paola Fonseca</p>
                            <p class="uk-text-meta uk-margin-remove-top" style="margin-bottom: 0px;">Data Portfolio Management</p>
                            <p class="uk-text-meta uk-margin-remove-top">paola.fonseca@bbva.com</p>
                        </div>
                    </div>
                    <div class="uk-grid-small uk-flex-middle" uk-grid>
                        <div class="uk-width-auto">
                            <img class="uk-border-circle" width="60" height="90" src="img/cumple/Ana_Paula_Tamayo.png">
                        </div>
                        <div class="uk-width-expand name">
                            <p class="uk-text-meta uk-margin-remove-top" style="margin-bottom: 0px;">Ana Paula Tamayo</p>
                            <p class="uk-text-meta uk-margin-remove-top" style="margin-bottom: 0px;">Data Portfolio Management</p>
                            <p class="uk-text-meta uk-margin-remove-top">ana.tamayo.lee@bbva.com</p>
                        </div>
                    </div>
                    <div class="uk-grid-small uk-flex-middle" uk-grid>
                        <div class="uk-width-auto">
                            <img class="uk-border-circle" width="60" height="60" src="img/cumple/eros_bazan.jpg">
                        </div>
                        <div class="uk-width-expand name">
                            <p class="uk-text-meta uk-margin-remove-top" style="margin-bottom: 0px;">Eros Bazan</p>
                            <p class="uk-text-meta uk-margin-remove-top" style="margin-bottom: 0px;">Data Portfolio Management</p>
                            <p class="uk-text-meta uk-margin-remove-top">eros.bazan@bbva.com</p>
                        </div>
                    </div>
                </div>
                <div class="uk-card-body">
                    <div class="container">
                        <iframe class="video" src="https://drive.google.com/file/d/1d1Wyyl30Y_ePtY3GVfqc1X8kH6PgjkHg/preview" allow="autoplay"></iframe>
                    </div>
                </div>
                <div class="uk-card-footer">
                    <a href="https://datastudio.google.com/reporting/087779b8-8edc-4cc8-9767-792c21e9a2ab"
                        class="uk-button uk-button-text buttonSQ" id="dg-ed4-1" style="font-weight: 500;"
                        target="_blank">Conoce más aquí</a>
                </div>
            </div>
        </div>
    </div>
    <script>
        function checkWidthAD() {
            var w = window.innerWidth
            var h = window.innerHeight

            if (w < 920) {
                var aaDIV = document.getElementById("ADparentDiv")
                aaDIV.classList.remove("uk-child-width-1-1@s")
                aaDIV.classList.add("uk-child-width-1-1@s")
                var texts = document.getElementsByClassName("large-text")

                for (var i = 0; i < texts.length; i++) {
                    texts[i].style.overflow = "hidden"
                }

            }
            else {
                var aaDIV = document.getElementById("ADparentDiv")
                aaDIV.classList.add("uk-child-width-1-1@s")
                aaDIV.classList.remove("uk-child-width-1-1@s")
            }
        }
        $(document).ready(function () {
            checkWidthAD();
        })
        window.addEventListener("resize", function () {
            checkWidthAD();
        });        
    </script>
</body>
