<head>
    <!-- Google Tag Manager -->
    <script>(function (w, d, s, l, i) {
            w[l] = w[l] || []; w[l].push({
                'gtm.start':
                    new Date().getTime(), event: 'gtm.js'
            }); var f = d.getElementsByTagName(s)[0],
                j = d.createElement(s), dl = l != 'dataLayer' ? '&l=' + l : ''; j.async = true; j.src =
                    'https://www.googletagmanager.com/gtm.js?id=' + i + dl; f.parentNode.insertBefore(j, f);
        })(window, document, 'script', 'dataLayer', 'GTM-WGVZLLQ');</script>
    <!-- End Google Tag Manager -->
</head>

<body>
    <!-- Google Tag Manager (noscript) -->
    <noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-WGVZLLQ" height="0" width="0"
            style="display:none;visibility:hidden"></iframe></noscript>
    <!-- End Google Tag Manager (noscript) -->

    <!-- First Section Description Banner -->
    <div class="uk-grid-collapse uk-text-center section-title" uk-grid>
        <div class="uk-width-expand">
            <div class="uk-card uk-card-default  uk-card-body" id="first-section">
                <h3 id="first-section-title">Advanced Analytics</h3>
            </div>
        </div>
    </div>
    <!-- First Section 1 info -->

    <div class="uk-child-width-1-2@s uk-grid-match blog" id="AAparentDiv" uk-grid>
        <div>
            <div class="uk-card uk-card-default uk-card-hover uk-card-body">
                <div class="uk-card-header">
                    <div class="uk-grid-small uk-flex-middle" uk-grid>
                        <div class="uk-width-auto">
                            <img class="uk-border-circle" width="60" height="60" src="img/cumple/Lizeth_Huamani.PNG">
                        </div>
                        <div class="uk-width-expand name">
                            <p class="uk-text-meta uk-margin-remove-top" style="margin-bottom: 0px;">Lizeth Huamani.PNG</p>
                            <p class="uk-text-meta uk-margin-remove-top" style="margin-bottom: 0px;">Data Scientist
                                CS</p>
                            <p class="uk-text-meta uk-margin-remove-top">lizeth.huamani@bbva.com</p>
                        </div>
                        <div>
                            <h4 class="uk-margin-remove-bottom"> Modelo de Propensión a Adquirir el PLD - Cliente BBVA</h4>
                        </div>
                    </div>
                </div>
                <div class="uk-card-body">
                    <p class="large-text">
                        Como parte de mantener la salud de los modelos actualmente usados, se realizó la construcción
                        del modelo de adquisición PLD Nuevo para clientes debido a su descalibración por haber sido 
                        construido en el 2016.
                        En la actualidad tenemos un comportamiento creciente en cuanto a colocaciones de PLD a la 
                        cartera de clientes (*), sin embargo, somos el segundo banco con mayor saldo, por lo que es 
                        necesario seguir afinando las estrategias de captación de PLD.
                        Para el desarrollo del modelo, se construyeron más de 300 variables donde 42 fueron las que más
                        aporte en Gini nos dieron, el modelo se realizó con el algoritmo de Lgbm donde el Gini promedio
                        es test fue de 50.
                    </p>
                </div>
                <div class="uk-card-footer">
                    <a href="https://docs.google.com/document/d/1YfS2E7BtT5F_9Zj5sfLhdQ_3dwLrkYftlLfaziX9fEo/edit"
                        class="uk-button uk-button-text buttonAA" id="aa-ed4-1" target="_blank">Leer más</a>
                </div>
            </div>
        </div>

        <div>
            <div class="uk-card uk-card-default uk-card-hover uk-card-body">
                <div class="uk-card-header">
                    <div class="uk-grid-small uk-flex-middle" uk-grid>
                        <div class="uk-width-auto">
                            <img class="uk-border-circle" width="60" height="60" src="img/yuri-lingan.jpg">
                        </div>
                        <div class="uk-width-expand name">
                            <p class="uk-text-meta uk-margin-remove-top" style="margin-bottom: 0px;">Yuri Lingan</p>
                            <p class="uk-text-meta uk-margin-remove-top" style="margin-bottom: 0px;">Data Scientist
                                Finanzas</p>
                            <p class="uk-text-meta uk-margin-remove-top">yuri.lingan@bbva.com</p>
                        </div>
                        <div>
                            <h4 class="uk-margin-remove-bottom">Cálculo del PVR (Product Relative Value) para las ventas digitales
                            </h4>
                        </div>
                    </div>
                </div>
                <div class="uk-card-body">
                    <p class="large-text">Desde la CoE Finanzas queremos evaluar la rentabilidad de nuestras oficinas
                        de la Banca Comercial; tomando para ello, las principales métricas (Saldos, Margen Financiero,
                        RORC(*), etc). Esto nos permitirá apoyar en estrategias diferenciadas de acuerdo a la situación
                        actual de cada una de ellas (mejorar spread, revisión perfiles de riesgo, foco en los costos/gastos,
                        consumo capital, etc.).
                        (*) RORC = Return on Regulatory Capital
                        RORC = Beneficio Después de Impuestos / Capital Regulatorio = BDI/CR
                    </p>
                </div>
                <div class="uk-card-footer">
                    <a href="https://docs.google.com/document/d/1CTk1StVoV3yuVFh6EPzFD2UjwjX7p2RlA_MAM8HlZ30/edit?usp=sharing"
                        class="uk-button uk-button-text buttonAA" id="aa-ed4-2" style="font-weight: 500;"
                        target="_blank">Leer más</a>
                </div>
            </div>
        </div>
     <div>

    <script>
        function checkWidth() {
            var w = window.innerWidth
            var h = window.innerHeight
            if (w < 500) {
                var aaDIV = document.getElementById("AAparentDiv")
                aaDIV.classList.remove("uk-child-width-1-2@s")
                aaDIV.classList.add("uk-child-width-1-1@s")
                var texts = document.getElementsByClassName("large-text")

                for (var i = 0; i < texts.length; i++) {
                    texts[i].style.overflow = "hidden"
                }

                var names = document.getElementsByClassName("name")
                //console.log(names, names.length)
                for (var j = 0; j < names.length; j++) {
                    item = names[j]
                    item.classList.add("hiddenStyle")
                    item.classList.remove("showStyle")
                }
            }
            else if (w < 920) {
                var aaDIV = document.getElementById("AAparentDiv")
                aaDIV.classList.remove("uk-child-width-1-2@s")
                aaDIV.classList.add("uk-child-width-1-1@s")
                var texts = document.getElementsByClassName("large-text")

                for (var i = 0; i < texts.length; i++) {
                    texts[i].style.overflow = "hidden"
                }
                var names = document.getElementsByClassName("name")
                //console.log(names, names.length)
                for (var i = 0; i < names.length; i++) {
                    item = names[i]
                    item.classList.remove("hiddenStyle")
                    item.classList.add("showStyle")
                }
            }
            else {
                var aaDIV = document.getElementById("AAparentDiv")
                aaDIV.classList.add("uk-child-width-1-2@s")
                aaDIV.classList.remove("uk-child-width-1-1@s")
                var names = document.getElementsByClassName("name")
                //console.log(names, names.length)
                for (var i = 0; i < names.length; i++) {
                    item = names[i]
                    item.classList.remove("hiddenStyle")
                    item.classList.add("showStyle")
                }
            }
        }
        $(document).ready(function () {
            checkWidth();
        })
        window.addEventListener("resize", function () {
            checkWidth();
        });

    </script>

</body>
