<head>
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-167171727-2"></script>
    <script>
        window.dataLayer = window.dataLayer || [];
        function gtag() { dataLayer.push(arguments); }
        gtag('js', new Date());

        gtag('config', 'UA-167171727-2');
    </script>

    <!-- Google Tag Manager -->
    <script>(function (w, d, s, l, i) {
            w[l] = w[l] || []; w[l].push({
                'gtm.start':
                    new Date().getTime(), event: 'gtm.js'
            }); var f = d.getElementsByTagName(s)[0],
                j = d.createElement(s), dl = l != 'dataLayer' ? '&l=' + l : ''; j.async = true; j.src =
                    'https://www.googletagmanager.com/gtm.js?id=' + i + dl; f.parentNode.insertBefore(j, f);
        })(window, document, 'script', 'dataLayer', 'GTM-WGVZLLQ');</script>
    <!-- End Google Tag Manager -->
</head>

<body>
    <!-- Google Tag Manager (noscript) -->
    <noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-WGVZLLQ" height="0" width="0"
            style="display:none;visibility:hidden"></iframe></noscript>
    <!-- End Google Tag Manager (noscript) -->

    <div style="text-align: center; padding-bottom: 100px;">
        <a class="uk-button uk-button-default" href="#modal-full" style="background-color: #ff93b8;" id="ack-ed2-2"
            uk-toggle>
            Mira quiénes cumplen años y/o aniversarios
            <div class="uk-width-auto">
                <img class="uk-border-circle" width="40" height="40" src="img/birthday.png">
            </div>
            <div class="uk-width-auto">
                <img class="uk-border-circle" width="40" height="40" src="img/anniversary.png">
            </div>
        </a>

        <div id="modal-full" class="uk-modal-full" uk-modal>
            <div class="uk-modal-dialog" style="background-color: white; height: 100vh;">
                <button class="uk-modal-close-full uk-close-large" type="button" uk-close></button>
                <div class="uk-text-center" uk-grid>
                    <div class="uk-child-width-1-1@s uk-grid-small uk-text-center" uk-grid
                        style="background-color: white;">
                        <h1 style="">Cumpleaños</h1>
                    </div>
                </div>

                <div class="uk-child-width-1-6@s uk-grid-small uk-grid-match birthdayCard" uk-grid
                    style="background-color: white;">
                    <div class="birthdayCard">
                        <div class="uk-card uk-card-default uk-card-body uk-align-center" style="text-align: center;">
                            <div class="uk-width-auto">
                                <img class="uk-border-circle" width="50" height="50"
                                    src="img/Jaime_Alcantara_Pinedo.PNG">
                            </div>
                            <div style="padding-top: 8px;">
                                <p class="" style="margin: 0; padding: 0;">Jaime Alcántara</p>
                                <p class="" style="margin: 0; padding: 0;">Finanzas</p>
                                <p class="" style="margin: 0; padding: 0;">1 de Septiembre</p>
                            </div>

                            <div style="padding-top: 12px;">
                                <div class="uk-width-auto">
                                    <img class="uk-border-circle" width="50" height="50" src="img/birthday.png">
                                </div>
                                <p class="" style="margin: 0; padding: 0;">Feliz Cumpleaños!</p>
                            </div>
                        </div>
                    </div>
                    <div class="birthdayCard">
                        <div class="uk-card uk-card-default uk-card-body uk-align-center" style="text-align: center;">
                            <div class="uk-width-auto">
                                <img class="uk-border-circle" width="50" height="50" src="img/Andrea_Lugaro.PNG">
                            </div>
                            <div style="padding-top: 8px;">
                                <p class="" style="margin: 0; padding: 0;">Andrea Lugaro</p>
                                <p class="" style="margin: 0; padding: 0;">Finanzas</p>
                                <p class="" style="margin: 0; padding: 0;">11 de Septiembre</p>
                            </div>

                            <div style="padding-top: 12px;">
                                <div class="uk-width-auto">
                                    <img class="uk-border-circle" width="50" height="50" src="img/birthday.png">
                                </div>
                                <p class="" style="margin: 0; padding: 0;">Feliz Cumpleaños!</p>
                            </div>
                        </div>
                    </div>
                    <div class="birthdayCard">
                        <div class="uk-card uk-card-default uk-card-body uk-align-center" style="text-align: center;">
                            <div class="uk-width-auto">
                                <img class="uk-border-circle" width="50" height="50" src="img/Carlos_Paz.PNG">
                            </div>
                            <div style="padding-top: 8px;">
                                <p class="" style="margin: 0; padding: 0;">Carlos Paz</p>
                                <p class="" style="margin: 0; padding: 0;">Client Solutions</p>
                                <p class="" style="margin: 0; padding: 0;">11 de Septiembre</p>
                            </div>

                            <div style="padding-top: 12px;">
                                <div class="uk-width-auto">
                                    <img class="uk-border-circle" width="50" height="50" src="img/birthday.png">
                                </div>
                                <p class="" style="margin: 0; padding: 0;">Feliz Cumpleaños!</p>
                            </div>
                        </div>
                    </div>
                    <div class="birthdayCard">
                        <div class="uk-card uk-card-default uk-card-body uk-align-center" style="text-align: center;">
                            <div class="uk-width-auto">
                                <img class="uk-border-circle" width="50" height="50" src="img/Jose_Luis_Ortega.PNG">
                            </div>
                            <div style="padding-top: 8px;">
                                <p class="" style="margin: 0; padding: 0;">Jose Luis Ortega</p>
                                <p class="" style="margin: 0; padding: 0;">Riesgos</p>
                                <p class="" style="margin: 0; padding: 0;">13 de Septiembre</p>
                            </div>

                            <div style="padding-top: 12px;">
                                <div class="uk-width-auto">
                                    <img class="uk-border-circle" width="50" height="50" src="img/birthday.png">
                                </div>
                                <p class="" style="margin: 0; padding: 0;">Feliz Cumpleaños!</p>
                            </div>
                        </div>
                    </div>
                    <div class="birthdayCard">
                        <div class="uk-card uk-card-default uk-card-body uk-align-center" style="text-align: center;">
                            <div class="uk-width-auto">
                                <img class="uk-border-circle" width="50" height="50" src="img/Diana_Farfan.PNG">
                            </div>
                            <div style="padding-top: 8px;">
                                <p class="" style="margin: 0; padding: 0;">Diana Farfan</p>
                                <p class="" style="margin: 0; padding: 0;">Client Solutions</p>
                                <p class="" style="margin: 0; padding: 0;">13 de Septiembre</p>
                            </div>

                            <div style="padding-top: 12px;">
                                <div class="uk-width-auto">
                                    <img class="uk-border-circle" width="50" height="50" src="img/birthday.png">
                                </div>
                                <p class="" style="margin: 0; padding: 0;">Feliz Cumpleaños!</p>
                            </div>
                        </div>
                    </div>
                    <div class="birthdayCard">
                        <div class="uk-card uk-card-default uk-card-body uk-align-center" style="text-align: center;">
                            <div class="uk-width-auto">
                                <img class="uk-border-circle" width="50" height="50"
                                    src="img/Edward_Patrick_Wetzell_Osorio.PNG">
                            </div>
                            <div style="padding-top: 8px;">
                                <p class="" style="margin: 0; padding: 0;">Edward Wetzell</p>
                                <p class="" style="margin: 0; padding: 0;">Finanzas</p>
                                <p class="" style="margin: 0; padding: 0;">14 de Septiembre</p>
                            </div>

                            <div style="padding-top: 12px;">
                                <div class="uk-width-auto">
                                    <img class="uk-border-circle" width="50" height="50" src="img/birthday.png">
                                </div>
                                <p class="" style="margin: 0; padding: 0;">Feliz Cumpleaños!</p>
                            </div>
                        </div>
                    </div>
                </div>


                <div class="uk-child-width-1-6@s uk-grid-small uk-grid-match birthdayCard" uk-grid
                    style="background-color: white;">
                    <div class="birthdayCard">
                        <div class="uk-card uk-card-default uk-card-body uk-align-center" style="text-align: center;">
                            <div class="uk-width-auto">
                                <img class="uk-border-circle" width="50" height="50" src="img/Mayra_Marquez.PNG">
                            </div>
                            <div style="padding-top: 8px;">
                                <p class="" style="margin: 0; padding: 0;">Mayra Marquez</p>
                                <p class="" style="margin: 0; padding: 0;">Riesgos</p>
                                <p class="" style="margin: 0; padding: 0;">15 de Septiembre</p>
                            </div>

                            <div style="padding-top: 12px;">
                                <div class="uk-width-auto">
                                    <img class="uk-border-circle" width="50" height="50" src="img/birthday.png">
                                </div>
                                <p class="" style="margin: 0; padding: 0;">Feliz Cumpleaños!</p>
                            </div>
                        </div>
                    </div>
                    <div class="birthdayCard">
                        <div class="uk-card uk-card-default uk-card-body uk-align-center" style="text-align: center;">
                            <div class="uk-width-auto">
                                <img class="uk-border-circle" width="50" height="50" src="img/Tamara_Schmid.PNG">
                            </div>
                            <div style="padding-top: 8px;">
                                <p class="" style="margin: 0; padding: 0;">Tamara Schmid</p>
                                <p class="" style="margin: 0; padding: 0;">Client Solutions</p>
                                <p class="" style="margin: 0; padding: 0;">19 de Septiembre</p>
                            </div>

                            <div style="padding-top: 12px;">
                                <div class="uk-width-auto">
                                    <img class="uk-border-circle" width="50" height="50" src="img/birthday.png">
                                </div>
                                <p class="" style="margin: 0; padding: 0;">Feliz Cumpleaños!</p>
                            </div>
                        </div>
                    </div>
                    <div class="birthdayCard">
                        <div class="uk-card uk-card-default uk-card-body uk-align-center" style="text-align: center;">
                            <div class="uk-width-auto">
                                <img class="uk-border-circle" width="50" height="50" src="img/vidina-rivera.jpeg">
                            </div>
                            <div style="padding-top: 8px;">
                                <p class="" style="margin: 0; padding: 0;">Vidina Rivera</p>
                                <p class="" style="margin: 0; padding: 0;">Finanzas</p>
                                <p class="" style="margin: 0; padding: 0;">20 de Septiembre</p>
                            </div>

                            <div style="padding-top: 12px;">
                                <div class="uk-width-auto">
                                    <img class="uk-border-circle" width="50" height="50" src="img/birthday.png">
                                </div>
                                <p class="" style="margin: 0; padding: 0;">Feliz Cumpleaños!</p>
                            </div>
                        </div>
                    </div>
                    <div class="birthdayCard">
                        <div class="uk-card uk-card-default uk-card-body uk-align-center" style="text-align: center;">
                            <div class="uk-width-auto">
                                <img class="uk-border-circle" width="50" height="50" src="img/Eddy_Rodriguez.PNG">
                            </div>
                            <div style="padding-top: 8px;">
                                <p class="" style="margin: 0; padding: 0;">Eddy Rodriguez</p>
                                <p class="" style="margin: 0; padding: 0;">Riesgos</p>
                                <p class="" style="margin: 0; padding: 0;">22 de Septiembre</p>
                            </div>

                            <div style="padding-top: 12px;">
                                <div class="uk-width-auto">
                                    <img class="uk-border-circle" width="50" height="50" src="img/birthday.png">
                                </div>
                                <p class="" style="margin: 0; padding: 0;">Feliz Cumpleaños!</p>
                            </div>
                        </div>
                    </div>
                    <div class="birthdayCard">
                        <div class="uk-card uk-card-default uk-card-body uk-align-center" style="text-align: center;">
                            <div class="uk-width-auto">
                                <img class="uk-border-circle" width="50" height="50" src="img/Nathaly_Gastelo.PNG">
                            </div>
                            <div style="padding-top: 8px;">
                                <p class="" style="margin: 0; padding: 0;">Nathaly Gastelo</p>
                                <p class="" style="margin: 0; padding: 0;">Riesgos</p>
                                <p class="" style="margin: 0; padding: 0;">23 de Septiembre</p>
                            </div>

                            <div style="padding-top: 12px;">
                                <div class="uk-width-auto">
                                    <img class="uk-border-circle" width="50" height="50" src="img/birthday.png">
                                </div>
                                <p class="" style="margin: 0; padding: 0;">Feliz Cumpleaños!</p>
                            </div>
                        </div>
                    </div>
                    <div class="birthdayCard">
                        <div class="uk-card uk-card-default uk-card-body uk-align-center" style="text-align: center;">
                            <div class="uk-width-auto">
                                <img class="uk-border-circle" width="50" height="50" src="img/Jaime_Rodriguez.PNG">
                            </div>
                            <div style="padding-top: 8px;">
                                <p class="" style="margin: 0; padding: 0;">Jaime Rodriguez</p>
                                <p class="" style="margin: 0; padding: 0;">Riesgos</p>
                                <p class="" style="margin: 0; padding: 0;">27 de Septiembre</p>
                            </div>

                            <div style="padding-top: 12px;">
                                <div class="uk-width-auto">
                                    <img class="uk-border-circle" width="50" height="50" src="img/birthday.png">
                                </div>
                                <p class="" style="margin: 0; padding: 0;">Feliz Cumpleaños!</p>
                            </div>
                        </div>
                    </div>
                </div>


                <div class="uk-child-width-1-6@s uk-grid-small uk-grid-match birthdayCard" uk-grid
                    style="background-color: white;">
                    <div class="birthdayCard">
                        <div class="uk-card uk-card-default uk-card-body uk-align-center" style="text-align: center;">
                            <div class="uk-width-auto">
                                <img class="uk-border-circle" width="50" height="50" src="img/Patricia_Jimenez.PNG">
                            </div>
                            <div style="padding-top: 8px;">
                                <p class="" style="margin: 0; padding: 0;">Patricia Jimenez</p>
                                <p class="" style="margin: 0; padding: 0;">Client Solutions</p>
                                <p class="" style="margin: 0; padding: 0;">28 de Septiembre</p>
                            </div>

                            <div style="padding-top: 12px;">
                                <div class="uk-width-auto">
                                    <img class="uk-border-circle" width="50" height="50" src="img/birthday.png">
                                </div>
                                <p class="" style="margin: 0; padding: 0;">Feliz Cumpleaños!</p>
                            </div>
                        </div>
                    </div>
                    <div class="birthdayCard">
                        <div class="uk-card uk-card-default uk-card-body uk-align-center" style="text-align: center;">
                            <div class="uk-width-auto">
                                <img class="uk-border-circle" width="50" height="50" src="img/Miguel_Guffanti.PNG">
                            </div>
                            <div style="padding-top: 8px;">
                                <p class="" style="margin: 0; padding: 0;">Miguel Guffanti</p>
                                <p class="" style="margin: 0; padding: 0;">Riesgos</p>
                                <p class="" style="margin: 0; padding: 0;">28 de Septiembre</p>
                            </div>

                            <div style="padding-top: 12px;">
                                <div class="uk-width-auto">
                                    <img class="uk-border-circle" width="50" height="50" src="img/birthday.png">
                                </div>
                                <p class="" style="margin: 0; padding: 0;">Feliz Cumpleaños!</p>
                            </div>
                        </div>
                    </div>
                    <div class="birthdayCard">
                        <div class="uk-card uk-card-default uk-card-body uk-align-center" style="text-align: center;">
                            <div class="uk-width-auto">
                                <img class="uk-border-circle" width="50" height="50" src="img/Cesar_Pacheco.PNG">
                            </div>
                            <div style="padding-top: 8px;">
                                <p class="" style="margin: 0; padding: 0;">César Pacheco</p>
                                <p class="" style="margin: 0; padding: 0;">Riesgos</p>
                                <p class="" style="margin: 0; padding: 0;">30 de Septiembre</p>
                            </div>

                            <div style="padding-top: 12px;">
                                <div class="uk-width-auto">
                                    <img class="uk-border-circle" width="50" height="50" src="img/birthday.png">
                                </div>
                                <p class="" style="margin: 0; padding: 0;">Feliz Cumpleaños!</p>
                            </div>
                        </div>
                    </div>
                    <div class="birthdayCard">
                        <div class="uk-card uk-card-default uk-card-body uk-align-center" style="text-align: center;">
                            <div class="uk-width-auto">
                                <img class="uk-border-circle" width="50" height="50" src="img/jean-pierre.png">
                            </div>
                            <div style="padding-top: 8px;">
                                <p class="" style="margin: 0; padding: 0;">Jean Pierre Pérez</p>
                                <p class="" style="margin: 0; padding: 0;">Riesgos</p>
                                <p class="" style="margin: 0; padding: 0;">5 de Octubre</p>
                            </div>

                            <div style="padding-top: 12px;">
                                <div class="uk-width-auto">
                                    <img class="uk-border-circle" width="50" height="50" src="img/birthday.png">
                                </div>
                                <p class="" style="margin: 0; padding: 0;">Feliz Cumpleaños!</p>
                            </div>
                        </div>
                    </div>
                    <div class="birthdayCard">
                        <div class="uk-card uk-card-default uk-card-body uk-align-center" style="text-align: center;">
                            <div class="uk-width-auto">
                                <img class="uk-border-circle" width="50" height="50" src="img/6-Edson_Apari.PNG">
                            </div>
                            <div style="padding-top: 8px;">
                                <p class="" style="margin: 0; padding: 0;">Edson Apari</p>
                                <p class="" style="margin: 0; padding: 0;">Transformatin&Data</p>
                                <p class="" style="margin: 0; padding: 0;">6 de Octubre</p>
                            </div>

                            <div style="padding-top: 12px;">
                                <div class="uk-width-auto">
                                    <img class="uk-border-circle" width="50" height="50" src="img/birthday.png">
                                </div>
                                <p class="" style="margin: 0; padding: 0;">Feliz Cumpleaños!</p>
                            </div>
                        </div>
                    </div>
                    <div class="birthdayCard">
                        <div class="uk-card uk-card-default uk-card-body uk-align-center" style="text-align: center;">
                            <div class="uk-width-auto">
                                <img class="uk-border-circle" width="50" height="50" src="img/7-Ines_Delgado.PNG">
                            </div>
                            <div style="padding-top: 8px;">
                                <p class="" style="margin: 0; padding: 0;">Ines Delgado</p>
                                <p class="" style="margin: 0; padding: 0;">Riesgos</p>
                                <p class="" style="margin: 0; padding: 0;">7 de Octubre</p>
                            </div>

                            <div style="padding-top: 12px;">
                                <div class="uk-width-auto">
                                    <img class="uk-border-circle" width="50" height="50" src="img/birthday.png">
                                </div>
                                <p class="" style="margin: 0; padding: 0;">Feliz Cumpleaños!</p>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="uk-child-width-1-6@s uk-grid-small uk-grid-match birthdayCard" uk-grid
                    style="background-color: white;">
                    <div class="birthdayCard">
                        <div class="uk-card uk-card-default uk-card-body uk-align-center" style="text-align: center;">
                            <div class="uk-width-auto">
                                <img class="uk-border-circle" width="50" height="50" src="img/1-Milagros_Fernandez.PNG">
                            </div>
                            <div style="padding-top: 8px;">
                                <p class="" style="margin: 0; padding: 0;">Milagros Fernandez</p>
                                <p class="" style="margin: 0; padding: 0;">Client Solutions</p>
                                <p class="" style="margin: 0; padding: 0;">11 de Octubre</p>
                            </div>

                            <div style="padding-top: 12px;">
                                <div class="uk-width-auto">
                                    <img class="uk-border-circle" width="50" height="50" src="img/birthday.png">
                                </div>
                                <p class="" style="margin: 0; padding: 0;">Feliz Cumpleaños!</p>
                            </div>
                        </div>
                    </div>
                    <div class="birthdayCard">
                        <div class="uk-card uk-card-default uk-card-body uk-align-center" style="text-align: center;">
                            <div class="uk-width-auto">
                                <img class="uk-border-circle" width="50" height="50" src="img/12-Miguel_Pezo.PNG">
                            </div>
                            <div style="padding-top: 8px;">
                                <p class="" style="margin: 0; padding: 0;">Miguel Pezo</p>
                                <p class="" style="margin: 0; padding: 0;">Ingeniería</p>
                                <p class="" style="margin: 0; padding: 0;">12 de Octubre</p>
                            </div>

                            <div style="padding-top: 12px;">
                                <div class="uk-width-auto">
                                    <img class="uk-border-circle" width="50" height="50" src="img/birthday.png">
                                </div>
                                <p class="" style="margin: 0; padding: 0;">Feliz Cumpleaños!</p>
                            </div>
                        </div>
                    </div>
                    <div class="birthdayCard">
                        <div class="uk-card uk-card-default uk-card-body uk-align-center" style="text-align: center;">
                            <div class="uk-width-auto">
                                <img class="uk-border-circle" width="50" height="50" src="img/13-Ricardo_Padilla.PNG">
                            </div>
                            <div style="padding-top: 8px;">
                                <p class="" style="margin: 0; padding: 0;">Ricardo Padilla</p>
                                <p class="" style="margin: 0; padding: 0;">Riesgos</p>
                                <p class="" style="margin: 0; padding: 0;">13 de Octubre</p>
                            </div>

                            <div style="padding-top: 12px;">
                                <div class="uk-width-auto">
                                    <img class="uk-border-circle" width="50" height="50" src="img/birthday.png">
                                </div>
                                <p class="" style="margin: 0; padding: 0;">Feliz Cumpleaños!</p>
                            </div>
                        </div>
                    </div>
                    <div class="birthdayCard">
                        <div class="uk-card uk-card-default uk-card-body uk-align-center" style="text-align: center;">
                            <div class="uk-width-auto">
                                <img class="uk-border-circle" width="50" height="50" src="img/13-Rosario_Correa.PNG">
                            </div>
                            <div style="padding-top: 8px;">
                                <p class="" style="margin: 0; padding: 0;">Rosario Correa</p>
                                <p class="" style="margin: 0; padding: 0;">Auditoría Interna</p>
                                <p class="" style="margin: 0; padding: 0;">13 de Octubre</p>
                            </div>

                            <div style="padding-top: 12px;">
                                <div class="uk-width-auto">
                                    <img class="uk-border-circle" width="50" height="50" src="img/birthday.png">
                                </div>
                                <p class="" style="margin: 0; padding: 0;">Feliz Cumpleaños!</p>
                            </div>
                        </div>
                    </div>
                    <div class="birthdayCard">
                        <div class="uk-card uk-card-default uk-card-body uk-align-center" style="text-align: center;">
                            <div class="uk-width-auto">
                                <img class="uk-border-circle" width="50" height="50" src="img/17-Jesus_Santos.PNG">
                            </div>
                            <div style="padding-top: 8px;">
                                <p class="" style="margin: 0; padding: 0;">Jesus Santos</p>
                                <p class="" style="margin: 0; padding: 0;">Finanzas</p>
                                <p class="" style="margin: 0; padding: 0;">17 de Octubre</p>
                            </div>

                            <div style="padding-top: 12px;">
                                <div class="uk-width-auto">
                                    <img class="uk-border-circle" width="50" height="50" src="img/birthday.png">
                                </div>
                                <p class="" style="margin: 0; padding: 0;">Feliz Cumpleaños!</p>
                            </div>
                        </div>
                    </div>
                    <div class="birthdayCard">
                        <div class="uk-card uk-card-default uk-card-body uk-align-center" style="text-align: center;">
                            <div class="uk-width-auto">
                                <img class="uk-border-circle" width="50" height="50" src="img/16-Lolo_Fernández.PNG">
                            </div>
                            <div style="padding-top: 8px;">
                                <p class="" style="margin: 0; padding: 0;">Lolo Fernández</p>
                                <p class="" style="margin: 0; padding: 0;">Ingeniería</p>
                                <p class="" style="margin: 0; padding: 0;">18 de Octubre</p>
                            </div>

                            <div style="padding-top: 12px;">
                                <div class="uk-width-auto">
                                    <img class="uk-border-circle" width="50" height="50" src="img/birthday.png">
                                </div>
                                <p class="" style="margin: 0; padding: 0;">Feliz Cumpleaños!</p>
                            </div>
                        </div>
                    </div>
                </div>


                <div class="uk-child-width-1-6@s uk-grid-small uk-grid-match birthdayCard" uk-grid
                    style="background-color: white;">
                    <div class="birthdayCard">
                        <div class="uk-card uk-card-default uk-card-body uk-align-center" style="text-align: center;">
                            <div class="uk-width-auto">
                                <img class="uk-border-circle" width="50" height="50" src="img/Alex_Espino.PNG">
                            </div>
                            <div style="padding-top: 8px;">
                                <p class="" style="margin: 0; padding: 0;">Alex Espino</p>
                                <p class="" style="margin: 0; padding: 0;">Riesgos</p>
                                <p class="" style="margin: 0; padding: 0;">18 de Octubre</p>
                            </div>

                            <div style="padding-top: 12px;">
                                <div class="uk-width-auto">
                                    <img class="uk-border-circle" width="50" height="50" src="img/birthday.png">
                                </div>
                                <p class="" style="margin: 0; padding: 0;">Feliz Cumpleaños!</p>
                            </div>
                        </div>
                    </div>
                    <div class="birthdayCard">
                        <div class="uk-card uk-card-default uk-card-body uk-align-center" style="text-align: center;">
                            <div class="uk-width-auto">
                                <img class="uk-border-circle" width="50" height="50" src="img/25-Jenny_Rojas.PNG">
                            </div>
                            <div style="padding-top: 8px;">
                                <p class="" style="margin: 0; padding: 0;">Jenny Rojas</p>
                                <p class="" style="margin: 0; padding: 0;">Riesgos</p>
                                <p class="" style="margin: 0; padding: 0;">25 de Octubre</p>
                            </div>

                            <div style="padding-top: 12px;">
                                <div class="uk-width-auto">
                                    <img class="uk-border-circle" width="50" height="50" src="img/birthday.png">
                                </div>
                                <p class="" style="margin: 0; padding: 0;">Feliz Cumpleaños!</p>
                            </div>
                        </div>
                    </div>
                    <div class="birthdayCard">
                        <div class="uk-card uk-card-default uk-card-body uk-align-center" style="text-align: center;">
                            <div class="uk-width-auto">
                                <img class="uk-border-circle" width="50" height="50" src="img/28-Said_Mejia.PNG">
                            </div>
                            <div style="padding-top: 8px;">
                                <p class="" style="margin: 0; padding: 0;">Said Mejía</p>
                                <p class="" style="margin: 0; padding: 0;">Finanzas</p>
                                <p class="" style="margin: 0; padding: 0;">28 de Octubre</p>
                            </div>

                            <div style="padding-top: 12px;">
                                <div class="uk-width-auto">
                                    <img class="uk-border-circle" width="50" height="50" src="img/birthday.png">
                                </div>
                                <p class="" style="margin: 0; padding: 0;">Feliz Cumpleaños!</p>
                            </div>
                        </div>
                    </div>
                    <div class="birthdayCard">
                        <div class="uk-card uk-card-default uk-card-body uk-align-center" style="text-align: center;">
                            <div class="uk-width-auto">
                                <img class="uk-border-circle" width="50" height="50" src="img/yuri-lingan.jpg">
                            </div>
                            <div style="padding-top: 8px;">
                                <p class="" style="margin: 0; padding: 0;">Yuri Lingan</p>
                                <p class="" style="margin: 0; padding: 0;">Finanzas</p>
                                <p class="" style="margin: 0; padding: 0;">30 de Octubre</p>
                            </div>

                            <div style="padding-top: 12px;">
                                <div class="uk-width-auto">
                                    <img class="uk-border-circle" width="50" height="50" src="img/birthday.png">
                                </div>
                                <p class="" style="margin: 0; padding: 0;">Feliz Cumpleaños!</p>
                            </div>
                        </div>
                    </div>
                    <div class="birthdayCard">
                        <div class="uk-card uk-card-default uk-card-body uk-align-center" style="text-align: center;">
                            <div class="uk-width-auto">
                                <img class="uk-border-circle" width="50" height="50"
                                    src="img/31-Gabriela_Ipaguirre.PNG">
                            </div>
                            <div style="padding-top: 8px;">
                                <p class="" style="margin: 0; padding: 0;">Gabriela Ipaguirre</p>
                                <p class="" style="margin: 0; padding: 0;">Ingeniería</p>
                                <p class="" style="margin: 0; padding: 0;">31 de Octubre</p>
                            </div>

                            <div style="padding-top: 12px;">
                                <div class="uk-width-auto">
                                    <img class="uk-border-circle" width="50" height="50" src="img/birthday.png">
                                </div>
                                <p class="" style="margin: 0; padding: 0;">Feliz Cumpleaños!</p>
                            </div>
                        </div>
                    </div>
                </div>






                <div class="uk-text-center" uk-grid style="background-color: white; margin: 0; padding-top: 50px;">
                    <div class="uk-child-width-1-1@s uk-grid-small uk-text-center" uk-grid
                        style="background-color: white;">
                        <h1 style="">Aniversarios</h1>
                    </div>
                </div>
                <div class="uk-child-width-1-6@s uk-grid-small uk-grid-match" uk-grid
                    style="background-color: white; margin: 0; padding-top: 15px;">
                    <div class="birthdayCard">
                        <div class="uk-card uk-card-default uk-card-small uk-card-body uk-align-center"
                            style="text-align: center;">
                            <div class="uk-width-auto">
                                <img class="uk-border-circle" width="50" height="50" src="img/Doris_Morales.PNG">
                            </div>
                            <div style="padding-top: 8px;">
                                <p class="" style="margin: 0; padding: 0;">Doris Morales</p>
                                <p class="" style="margin: 0; padding: 0;">Riesgos</p>
                                <p class="" style="margin: 0; padding: 0;">1 de Septiembre - 2 años en BBVA</p>
                            </div>

                            <div style="padding-top: 12px;">
                                <div class="uk-width-auto">
                                    <img class="uk-border-circle" width="50" height="50" src="img/anniversary.png">
                                </div>
                                <p class="" style="margin: 0; padding: 0;">Feliz Aniversario!</p>
                            </div>
                        </div>
                    </div>

                    <div class="birthdayCard">
                        <div class="uk-card uk-card-default uk-card-small uk-card-body uk-align-center"
                            style="text-align: center;">
                            <div class="uk-width-auto">
                                <img class="uk-border-circle" width="50" height="50" src="img/Alexander_Silva.JPG">
                            </div>
                            <div style="padding-top: 8px;">
                                <p class="" style="margin: 0; padding: 0;">Alexander Silva</p>
                                <p class="" style="margin: 0; padding: 0;">Client Solutions</p>
                                <p class="" style="margin: 0; padding: 0;">1 de Septiembre - 2 años en BBVA</p>
                            </div>

                            <div style="padding-top: 12px;">
                                <div class="uk-width-auto">
                                    <img class="uk-border-circle" width="50" height="50" src="img/anniversary.png">
                                </div>
                                <p class="" style="margin: 0; padding: 0;">Feliz Aniversario!</p>
                            </div>
                        </div>
                    </div>
                    <div class="birthdayCard">
                        <div class="uk-card uk-card-default uk-card-small uk-card-body uk-align-center"
                            style="text-align: center;">
                            <div class="uk-width-auto">
                                <img class="uk-border-circle" width="50" height="50" src="img/Christian_Carré.jpg">
                            </div>
                            <div style="padding-top: 8px;">
                                <p class="" style="margin: 0; padding: 0;">Christian Carré</p>
                                <p class="" style="margin: 0; padding: 0;">Client Solutions</p>
                                <p class="" style="margin: 0; padding: 0;">1 de Septiembre - 2 años en BBVA</p>
                            </div>

                            <div style="padding-top: 12px;">
                                <div class="uk-width-auto">
                                    <img class="uk-border-circle" width="50" height="50" src="img/anniversary.png">
                                </div>
                                <p class="" style="margin: 0; padding: 0;">Feliz Aniversario!</p>
                            </div>
                        </div>
                    </div>
                    <div class="birthdayCard">
                        <div class="uk-card uk-card-default uk-card-small uk-card-body uk-align-center"
                            style="text-align: center;">
                            <div class="uk-width-auto">
                                <img class="uk-border-circle" width="50" height="50"
                                    src="img/cumple/Jean_Leon_Ichpas.PNG">
                            </div>
                            <div style="padding-top: 8px;">
                                <p class="" style="margin: 0; padding: 0;">Jean Leonardo Ichpas</p>
                                <p class="" style="margin: 0; padding: 0;">Finanzas</p>
                                <p class="" style="margin: 0; padding: 0;">1 de Septiembre - 3 años en BBVA</p>
                            </div>

                            <div style="padding-top: 12px;">
                                <div class="uk-width-auto">
                                    <img class="uk-border-circle" width="50" height="50" src="img/anniversary.png">
                                </div>
                                <p class="" style="margin: 0; padding: 0;">Feliz Aniversario!</p>
                            </div>
                        </div>
                    </div>
                    <div class="birthdayCard">
                        <div class="uk-card uk-card-default uk-card-small uk-card-body uk-align-center"
                            style="text-align: center;">
                            <div class="uk-width-auto">
                                <img class="uk-border-circle" width="50" height="50" src="img/Elva_Laveriano.PNG">
                            </div>
                            <div style="padding-top: 8px;">
                                <p class="" style="margin: 0; padding: 0;">Carolina Laveriano</p>
                                <p class="" style="margin: 0; padding: 0;">Finanzas</p>
                                <p class="" style="margin: 0; padding: 0;">1 de Septiembre - 3 años en BBVA</p>
                            </div>

                            <div style="padding-top: 12px;">
                                <div class="uk-width-auto">
                                    <img class="uk-border-circle" width="50" height="50" src="img/anniversary.png">
                                </div>
                                <p class="" style="margin: 0; padding: 0;">Feliz Aniversario!</p>
                            </div>
                        </div>
                    </div>
                    <div class="birthdayCard">
                        <div class="uk-card uk-card-default uk-card-small uk-card-body uk-align-center"
                            style="text-align: center;">
                            <div class="uk-width-auto">
                                <img class="uk-border-circle" width="50" height="50" src="img/Miguel_Rivera.PNG">
                            </div>
                            <div style="padding-top: 8px;">
                                <p class="" style="margin: 0; padding: 0;">Miguel Rivera</p>
                                <p class="" style="margin: 0; padding: 0;">Finanzas</p>
                                <p class="" style="margin: 0; padding: 0;">1 de Septiembre - 4 años en BBVA</p>
                            </div>

                            <div style="padding-top: 12px;">
                                <div class="uk-width-auto">
                                    <img class="uk-border-circle" width="50" height="50" src="img/anniversary.png">
                                </div>
                                <p class="" style="margin: 0; padding: 0;">Feliz Aniversario!</p>
                            </div>
                        </div>
                    </div>
                </div>



                <div class="uk-child-width-1-6@s uk-grid-small uk-grid-match" uk-grid
                    style="background-color: white; margin: 0; padding-top: 15px;">
                    <div>
                        <div class="uk-card uk-card-default uk-card-small uk-card-body uk-align-center"
                            style="text-align: center;">
                            <div class="uk-width-auto">
                                <img class="uk-border-circle" width="50" height="50" src="img/Renzo_Almora.PNG">
                            </div>
                            <div style="padding-top: 8px;">
                                <p class="" style="margin: 0; padding: 0;">Renzo Almora</p>
                                <p class="" style="margin: 0; padding: 0;">CIB</p>
                                <p class="" style="margin: 0; padding: 0;">1 de Septiembre - 6 años en BBVA</p>
                            </div>

                            <div style="padding-top: 12px;">
                                <div class="uk-width-auto">
                                    <img class="uk-border-circle" width="50" height="50" src="img/anniversary.png">
                                </div>
                                <p class="" style="margin: 0; padding: 0;">Feliz Aniversario!</p>
                            </div>
                        </div>
                    </div>
                    <div>
                        <div class="uk-card uk-card-default uk-card-small uk-card-body uk-align-center"
                            style="text-align: center;">
                            <div class="uk-width-auto">
                                <img class="uk-border-circle" width="50" height="50" src="img/Daniel_Guerrero.PNG">
                            </div>
                            <div style="padding-top: 8px;">
                                <p class="" style="margin: 0; padding: 0;">Daniel Guerrero</p>
                                <p class="" style="margin: 0; padding: 0;">Client Solutions</p>
                                <p class="" style="margin: 0; padding: 0;">1 de Septiembre - 7 años en BBVA</p>
                            </div>

                            <div style="padding-top: 12px;">
                                <div class="uk-width-auto">
                                    <img class="uk-border-circle" width="50" height="50" src="img/anniversary.png">
                                </div>
                                <p class="" style="margin: 0; padding: 0;">Feliz Aniversario!</p>
                            </div>
                        </div>
                    </div>
                    <div>
                        <div class="uk-card uk-card-default uk-card-small uk-card-body uk-align-center ani-5"
                            style="text-align: center;">
                            <div class="uk-width-auto">
                                <img class="uk-border-circle" width="50" height="50" src="img/Oscar_Cortez.PNG">
                            </div>
                            <div style="padding-top: 8px;">
                                <p class="" style="margin: 0; padding: 0;">Oscar Cortez</p>
                                <p class="" style="margin: 0; padding: 0;">Finanzas</p>
                                <p class="" style="margin: 0; padding: 0;">1 de Septiembre - 10 años en BBVA</p>
                            </div>

                            <div style="padding-top: 12px;">
                                <div class="uk-width-auto">
                                    <img class="uk-border-circle" width="50" height="50" src="img/anniversary.png">
                                </div>
                                <p class="" style="margin: 0; padding: 0;">Feliz Aniversario!</p>
                            </div>
                        </div>
                    </div>
                    <div>
                        <div class="uk-card uk-card-default uk-card-small uk-card-body uk-align-center"
                            style="text-align: center;">
                            <div class="uk-width-auto">
                                <img class="uk-border-circle" width="50" height="50" src="img/Greta_Delgado.PNG">
                            </div>
                            <div style="padding-top: 8px;">
                                <p class="" style="margin: 0; padding: 0;">Greta Delgado</p>
                                <p class="" style="margin: 0; padding: 0;">Client Solutions</p>
                                <p class="" style="margin: 0; padding: 0;">1 de Septiembre - 11 años en BBVA</p>
                            </div>

                            <div style="padding-top: 12px;">
                                <div class="uk-width-auto">
                                    <img class="uk-border-circle" width="50" height="50" src="img/anniversary.png">
                                </div>
                                <p class="" style="margin: 0; padding: 0;">Feliz Aniversario!</p>
                            </div>
                        </div>
                    </div>
                    <div>
                        <div class="uk-card uk-card-default uk-card-small uk-card-body uk-align-center"
                            style="text-align: center;">
                            <div class="uk-width-auto">
                                <img class="uk-border-circle" width="50" height="50" src="img/Jaime_Rodriguez.PNG">
                            </div>
                            <div style="padding-top: 8px;">
                                <p class="" style="margin: 0; padding: 0;">Jaime Rodriguez</p>
                                <p class="" style="margin: 0; padding: 0;">Riesgos</p>
                                <p class="" style="margin: 0; padding: 0;">9 de Septiembre - 3 años en BBVA</p>
                            </div>

                            <div style="padding-top: 12px;">
                                <div class="uk-width-auto">
                                    <img class="uk-border-circle" width="50" height="50" src="img/anniversary.png">
                                </div>
                                <p class="" style="margin: 0; padding: 0;">Feliz Aniversario!</p>
                            </div>
                        </div>
                    </div>
                    <div>
                        <div class="uk-card uk-card-default uk-card-small uk-card-body uk-align-center ani-5"
                            style="text-align: center;">
                            <div class="uk-width-auto">
                                <img class="uk-border-circle" width="50" height="50"
                                    src="img/Jaime_Alcantara_Pinedo.PNG">
                            </div>
                            <div style="padding-top: 8px;">
                                <p class="" style="margin: 0; padding: 0;">Jaime Alcantara</p>
                                <p class="" style="margin: 0; padding: 0;">Finanzas</p>
                                <p class="" style="margin: 0; padding: 0;">9 de Septiembre - 15 años en BBVA</p>
                            </div>

                            <div style="padding-top: 12px;">
                                <div class="uk-width-auto">
                                    <img class="uk-border-circle" width="50" height="50" src="img/anniversary.png">
                                </div>
                                <p class="" style="margin: 0; padding: 0;">Feliz Aniversario!</p>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="uk-child-width-1-6@s uk-grid-small uk-grid-match" uk-grid
                    style="background-color: white; margin: 0; padding-top: 15px;">
                    <div>
                        <div class="uk-card uk-card-default uk-card-small uk-card-body uk-align-center"
                            style="text-align: center;">
                            <div class="uk-width-auto">
                                <img class="uk-border-circle" width="50" height="50" src="img/Ramon_Esquives.PNG">
                            </div>
                            <div style="padding-top: 8px;">
                                <p class="" style="margin: 0; padding: 0;">Ramón Esquives</p>
                                <p class="" style="margin: 0; padding: 0;">Finanzas</p>
                                <p class="" style="margin: 0; padding: 0;">10 de Septiembre - 8 años en BBVA</p>
                            </div>

                            <div style="padding-top: 12px;">
                                <div class="uk-width-auto">
                                    <img class="uk-border-circle" width="50" height="50" src="img/anniversary.png">
                                </div>
                                <p class="" style="margin: 0; padding: 0;">Feliz Aniversario!</p>
                            </div>
                        </div>
                    </div>

                    <div>
                        <div class="uk-card uk-card-default uk-card-small uk-card-body uk-align-center"
                            style="text-align: center;">
                            <div class="uk-width-auto">
                                <img class="uk-border-circle" width="50" height="50" src="img/Jose_Huapaya.PNG">
                            </div>
                            <div style="padding-top: 8px;">
                                <p class="" style="margin: 0; padding: 0;">Jose Huapaya</p>
                                <p class="" style="margin: 0; padding: 0;">Ingeniería</p>
                                <p class="" style="margin: 0; padding: 0;">15 de Septiembre - 3 años en BBVA</p>
                            </div>

                            <div style="padding-top: 12px;">
                                <div class="uk-width-auto">
                                    <img class="uk-border-circle" width="50" height="50" src="img/anniversary.png">
                                </div>
                                <p class="" style="margin: 0; padding: 0;">Feliz Aniversario!</p>
                            </div>
                        </div>
                    </div>

                    <div>
                        <div class="uk-card uk-card-default uk-card-small uk-card-body uk-align-center"
                            style="text-align: center;">
                            <div class="uk-width-auto">
                                <img class="uk-border-circle" width="50" height="50" src="img/Gianfranco_Arce.PNG">
                            </div>
                            <div style="padding-top: 8px;">
                                <p class="" style="margin: 0; padding: 0;">Gianfraco Arce</p>
                                <p class="" style="margin: 0; padding: 0;">CIB</p>
                                <p class="" style="margin: 0; padding: 0;">15 de Septiembre - 3 años en BBVA</p>
                            </div>

                            <div style="padding-top: 12px;">
                                <div class="uk-width-auto">
                                    <img class="uk-border-circle" width="50" height="50" src="img/anniversary.png">
                                </div>
                                <p class="" style="margin: 0; padding: 0;">Feliz Aniversario!</p>
                            </div>
                        </div>
                    </div>


                    <div>
                        <div class="uk-card uk-card-default uk-card-small uk-card-body uk-align-center ani-5"
                            style="text-align: center;">
                            <div class="uk-width-auto">
                                <img class="uk-border-circle" width="50" height="50" src="img/Andre_Purilla.PNG">
                            </div>
                            <div style="padding-top: 8px;">
                                <p class="" style="margin: 0; padding: 0;">Andre Purilla</p>
                                <p class="" style="margin: 0; padding: 0;">CIB</p>
                                <p class="" style="margin: 0; padding: 0;">15 de Septiembre - 5 años en BBVA</p>
                            </div>

                            <div style="padding-top: 12px;">
                                <div class="uk-width-auto">
                                    <img class="uk-border-circle" width="50" height="50" src="img/anniversary.png">
                                </div>
                                <p class="" style="margin: 0; padding: 0;">Feliz Aniversario!</p>
                            </div>
                        </div>
                    </div>

                    <div>
                        <div class="uk-card uk-card-default uk-card-small uk-card-body uk-align-center"
                            style="text-align: center;">
                            <div class="uk-width-auto">
                                <img class="uk-border-circle" width="50" height="50" src="img/Brenda_Pizarro.PNG">
                            </div>
                            <div style="padding-top: 8px;">
                                <p class="" style="margin: 0; padding: 0;">Brenda Pizarro</p>
                                <p class="" style="margin: 0; padding: 0;">CIB</p>
                                <p class="" style="margin: 0; padding: 0;">15 de Septiembre - 6 años en BBVA</p>
                            </div>

                            <div style="padding-top: 12px;">
                                <div class="uk-width-auto">
                                    <img class="uk-border-circle" width="50" height="50" src="img/anniversary.png">
                                </div>
                                <p class="" style="margin: 0; padding: 0;">Feliz Aniversario!</p>
                            </div>
                        </div>
                    </div>

                    <div>
                        <div class="uk-card uk-card-default uk-card-small uk-card-body uk-align-cente"
                            style="text-align: center;">
                            <div class="uk-width-auto">
                                <img class="uk-border-circle" width="50" height="50" src="img/Angela_Condezo.PNG">
                            </div>
                            <div style="padding-top: 8px;">
                                <p class="" style="margin: 0; padding: 0;">Angela Condezo</p>
                                <p class="" style="margin: 0; padding: 0;">Finanzas</p>
                                <p class="" style="margin: 0; padding: 0;">17 de Septiembre - 2 años en BBVA</p>
                            </div>

                            <div style="padding-top: 12px;">
                                <div class="uk-width-auto">
                                    <img class="uk-border-circle" width="50" height="50" src="img/anniversary.png">
                                </div>
                                <p class="" style="margin: 0; padding: 0;">Feliz Aniversario!</p>
                            </div>
                        </div>
                    </div>
                </div>



                <div class="uk-child-width-1-6@s uk-grid-small uk-grid-match" uk-grid
                    style="background-color: white; margin: 0; padding-top: 15px;">
                    <div>
                        <div class="uk-card uk-card-default uk-card-small uk-card-body uk-align-center"
                            style="text-align: center;">
                            <div class="uk-width-auto">
                                <img class="uk-border-circle" width="50" height="50" src="img/Roberto_Garrido.PNG">
                            </div>
                            <div style="padding-top: 8px;">
                                <p class="" style="margin: 0; padding: 0;">Roberto Garrido</p>
                                <p class="" style="margin: 0; padding: 0;">Client Solutions</p>
                                <p class="" style="margin: 0; padding: 0;">18 de Septiembre - 3 años en BBVA</p>
                            </div>

                            <div style="padding-top: 12px;">
                                <div class="uk-width-auto">
                                    <img class="uk-border-circle" width="50" height="50" src="img/anniversary.png">
                                </div>
                                <p class="" style="margin: 0; padding: 0;">Feliz Aniversario!</p>
                            </div>
                        </div>
                    </div>

                    <div>
                        <div class="uk-card uk-card-default uk-card-small uk-card-body uk-align-center"
                            style="text-align: center;">
                            <div class="uk-width-auto">
                                <img class="uk-border-circle" width="50" height="50" src="img/Monica_Nureña.PNG">
                            </div>
                            <div style="padding-top: 8px;">
                                <p class="" style="margin: 0; padding: 0;">Mónica Nureña</p>
                                <p class="" style="margin: 0; padding: 0;">Finanzas</p>
                                <p class="" style="margin: 0; padding: 0;">25 de Septiembre - 14 años en BBVA</p>
                            </div>

                            <div style="padding-top: 12px;">
                                <div class="uk-width-auto">
                                    <img class="uk-border-circle" width="50" height="50" src="img/anniversary.png">
                                </div>
                                <p class="" style="margin: 0; padding: 0;">Feliz Aniversario!</p>
                            </div>
                        </div>
                    </div>

                    <div>
                        <div class="uk-card uk-card-default uk-card-small uk-card-body uk-align-center ani-5"
                            style="text-align: center;">
                            <div class="uk-width-auto">
                                <img class="uk-border-circle" width="50" height="50" src="img/vanessa-belapatino.jpeg">
                            </div>
                            <div style="padding-top: 8px;">
                                <p class="" style="margin: 0; padding: 0;">Vanessa Belapatiño</p>
                                <p class="" style="margin: 0; padding: 0;">Estudios Económicos</p>
                                <p class="" style="margin: 0; padding: 0;">1 de Octubre - 5 años en BBVA</p>
                            </div>

                            <div style="padding-top: 12px;">
                                <div class="uk-width-auto">
                                    <img class="uk-border-circle" width="50" height="50" src="img/anniversary.png">
                                </div>
                                <p class="" style="margin: 0; padding: 0;">Feliz Aniversario!</p>
                            </div>
                        </div>
                    </div>


                    <div>
                        <div class="uk-card uk-card-default uk-card-small uk-card-body uk-align-center"
                            style="text-align: center;">
                            <div class="uk-width-auto">
                                <img class="uk-border-circle" width="50" height="50" src="img/1-Oscar_Dueñas.PNG">
                            </div>
                            <div style="padding-top: 8px;">
                                <p class="" style="margin: 0; padding: 0;">Oscar Dueñas</p>
                                <p class="" style="margin: 0; padding: 0;">Finanzas</p>
                                <p class="" style="margin: 0; padding: 0;">1 de Octubre - 6 años en BBVA</p>
                            </div>

                            <div style="padding-top: 12px;">
                                <div class="uk-width-auto">
                                    <img class="uk-border-circle" width="50" height="50" src="img/anniversary.png">
                                </div>
                                <p class="" style="margin: 0; padding: 0;">Feliz Aniversario!</p>
                            </div>
                        </div>
                    </div>


                    <div>
                        <div class="uk-card uk-card-default uk-card-small uk-card-body uk-align-center ani-5"
                            style="text-align: center;">
                            <div class="uk-width-auto">
                                <img class="uk-border-circle" width="50" height="50" src="img/javier-vilcapoma.jpg">
                            </div>
                            <div style="padding-top: 8px;">
                                <p class="" style="margin: 0; padding: 0;">Javier Vilcapoma</p>
                                <p class="" style="margin: 0; padding: 0;">Transformation & Data</p>
                                <p class="" style="margin: 0; padding: 0;">1 de Octubre - 1 años en BBVA</p>
                            </div>

                            <div style="padding-top: 12px;">
                                <div class="uk-width-auto">
                                    <img class="uk-border-circle" width="50" height="50" src="img/anniversary.png">
                                </div>
                                <p class="" style="margin: 0; padding: 0;">Feliz Aniversario!</p>
                            </div>
                        </div>
                    </div>

                    <div>
                        <div class="uk-card uk-card-default uk-card-small uk-card-body uk-align-center ani-5"
                            style="text-align: center;">
                            <div class="uk-width-auto">
                                <img class="uk-border-circle" width="50" height="50" src="img/1-Ana_Maria_Canales.PNG">
                            </div>
                            <div style="padding-top: 8px;">
                                <p class="" style="margin: 0; padding: 0;">Ana María Canales</p>
                                <p class="" style="margin: 0; padding: 0;">Transformation & Data</p>
                                <p class="" style="margin: 0; padding: 0;">1 de Octubre - 15 años en BBVA</p>
                            </div>

                            <div style="padding-top: 12px;">
                                <div class="uk-width-auto">
                                    <img class="uk-border-circle" width="50" height="50" src="img/anniversary.png">
                                </div>
                                <p class="" style="margin: 0; padding: 0;">Feliz Aniversario!</p>
                            </div>
                        </div>
                    </div>
                </div>


                <div class="uk-child-width-1-6@s uk-grid-small uk-grid-match" uk-grid
                    style="background-color: white; margin: 0; padding-top: 15px;">
                    <div>
                        <div class="uk-card uk-card-default uk-card-small uk-card-body uk-align-center"
                            style="text-align: center;">
                            <div class="uk-width-auto">
                                <img class="uk-border-circle" width="50" height="50" src="img/1-Milagros_Fernandez.PNG">
                            </div>
                            <div style="padding-top: 8px;">
                                <p class="" style="margin: 0; padding: 0;">Milagros Fernandez</p>
                                <p class="" style="margin: 0; padding: 0;">Client Solutions</p>
                                <p class="" style="margin: 0; padding: 0;">1 de Octubre - 2 años en BBVA</p>
                            </div>

                            <div style="padding-top: 12px;">
                                <div class="uk-width-auto">
                                    <img class="uk-border-circle" width="50" height="50" src="img/anniversary.png">
                                </div>
                                <p class="" style="margin: 0; padding: 0;">Feliz Aniversario!</p>
                            </div>
                        </div>
                    </div>

                    <div>
                        <div class="uk-card uk-card-default uk-card-small uk-card-body uk-align-center ani-5"
                            style="text-align: center;">
                            <div class="uk-width-auto">
                                <img class="uk-border-circle" width="50" height="50" src="img/1-Cesar_Camero.PNG">
                            </div>
                            <div style="padding-top: 8px;">
                                <p class="" style="margin: 0; padding: 0;">César Camero</p>
                                <p class="" style="margin: 0; padding: 0;">Riesgos</p>
                                <p class="" style="margin: 0; padding: 0;">1 de Octubre - 5 años en BBVA</p>
                            </div>

                            <div style="padding-top: 12px;">
                                <div class="uk-width-auto">
                                    <img class="uk-border-circle" width="50" height="50" src="img/anniversary.png">
                                </div>
                                <p class="" style="margin: 0; padding: 0;">Feliz Aniversario!</p>
                            </div>
                        </div>
                    </div>

                    <div>
                        <div class="uk-card uk-card-default uk-card-small uk-card-body uk-align-center"
                            style="text-align: center;">
                            <div class="uk-width-auto">
                                <img class="uk-border-circle" width="50" height="50" src="img/5-Adrian_Valencia.PNG">
                            </div>
                            <div style="padding-top: 8px;">
                                <p class="" style="margin: 0; padding: 0;">Adrian Valencia</p>
                                <p class="" style="margin: 0; padding: 0;">Finanzas</p>
                                <p class="" style="margin: 0; padding: 0;">5 de Octubre - 11 años en BBVA</p>
                            </div>

                            <div style="padding-top: 12px;">
                                <div class="uk-width-auto">
                                    <img class="uk-border-circle" width="50" height="50" src="img/anniversary.png">
                                </div>
                                <p class="" style="margin: 0; padding: 0;">Feliz Aniversario!</p>
                            </div>
                        </div>
                    </div>


                    <div>
                        <div class="uk-card uk-card-default uk-card-small uk-card-body uk-align-center"
                            style="text-align: center;">
                            <div class="uk-width-auto">
                                <img class="uk-border-circle" width="50" height="50" src="img/9-Jeannette_Alarcon.PNG">
                            </div>
                            <div style="padding-top: 8px;">
                                <p class="" style="margin: 0; padding: 0;">Jeannette Alarcon</p>
                                <p class="" style="margin: 0; padding: 0;">Cliente Solutions</p>
                                <p class="" style="margin: 0; padding: 0;">9 de Octubre - 14 años en BBVA</p>
                            </div>

                            <div style="padding-top: 12px;">
                                <div class="uk-width-auto">
                                    <img class="uk-border-circle" width="50" height="50" src="img/anniversary.png">
                                </div>
                                <p class="" style="margin: 0; padding: 0;">Feliz Aniversario!</p>
                            </div>
                        </div>
                    </div>


                    <div>
                        <div class="uk-card uk-card-default uk-card-small uk-card-body uk-align-center ani-5"
                            style="text-align: center;">
                            <div class="uk-width-auto">
                                <img class="uk-border-circle" width="50" height="50" src="img/12-Nestor_Miranda.PNG">
                            </div>
                            <div style="padding-top: 8px;">
                                <p class="" style="margin: 0; padding: 0;">Nestor Miranda</p>
                                <p class="" style="margin: 0; padding: 0;">CIB</p>
                                <p class="" style="margin: 0; padding: 0;">12 de Octubre - 5 años en BBVA</p>
                            </div>

                            <div style="padding-top: 12px;">
                                <div class="uk-width-auto">
                                    <img class="uk-border-circle" width="50" height="50" src="img/anniversary.png">
                                </div>
                                <p class="" style="margin: 0; padding: 0;">Feliz Aniversario!</p>
                            </div>
                        </div>
                    </div>

                    <div>
                        <div class="uk-card uk-card-default uk-card-small uk-card-body uk-align-center "
                            style="text-align: center;">
                            <div class="uk-width-auto">
                                <img class="uk-border-circle" width="50" height="50" src="img/15-Teresa_Diaz.PNG">
                            </div>
                            <div style="padding-top: 8px;">
                                <p class="" style="margin: 0; padding: 0;">Teresa Diaz</p>
                                <p class="" style="margin: 0; padding: 0;">Transformation & Data</p>
                                <p class="" style="margin: 0; padding: 0;">15 de Octubre - 2 años en BBVA</p>
                            </div>

                            <div style="padding-top: 12px;">
                                <div class="uk-width-auto">
                                    <img class="uk-border-circle" width="50" height="50" src="img/anniversary.png">
                                </div>
                                <p class="" style="margin: 0; padding: 0;">Feliz Aniversario!</p>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="uk-child-width-1-6@s uk-grid-small uk-grid-match" uk-grid
                    style="background-color: white; margin: 0; padding-top: 15px;">
                    <div>
                        <div class="uk-card uk-card-default uk-card-small uk-card-body uk-align-center"
                            style="text-align: center;">
                            <div class="uk-width-auto">
                                <img class="uk-border-circle" width="50" height="50" src="img/16-Lolo_Fernández.PNG">
                            </div>
                            <div style="padding-top: 8px;">
                                <p class="" style="margin: 0; padding: 0;">Lolo Fernández</p>
                                <p class="" style="margin: 0; padding: 0;">Ingeniería</p>
                                <p class="" style="margin: 0; padding: 0;">16 de Octubre - 3 años en BBVA</p>
                            </div>

                            <div style="padding-top: 12px;">
                                <div class="uk-width-auto">
                                    <img class="uk-border-circle" width="50" height="50" src="img/anniversary.png">
                                </div>
                                <p class="" style="margin: 0; padding: 0;">Feliz Aniversario!</p>
                            </div>
                        </div>
                    </div>

                    <div>
                        <div class="uk-card uk-card-default uk-card-small uk-card-body uk-align-center ani-5"
                            style="text-align: center;">
                            <div class="uk-width-auto">
                                <img class="uk-border-circle" width="50" height="50" src="img/21-Paola_Fonseca.PNG">
                            </div>
                            <div style="padding-top: 8px;">
                                <p class="" style="margin: 0; padding: 0;">Paola Fonseca</p>
                                <p class="" style="margin: 0; padding: 0;">Transformatin&Data</p>
                                <p class="" style="margin: 0; padding: 0;">21 de Octubre - 1 años en BBVA</p>
                            </div>

                            <div style="padding-top: 12px;">
                                <div class="uk-width-auto">
                                    <img class="uk-border-circle" width="50" height="50" src="img/anniversary.png">
                                </div>
                                <p class="" style="margin: 0; padding: 0;">Feliz Aniversario!</p>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>





    </div>



    </div>
    </div>
</body>
