<head>
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-167171727-1"></script>
    <script>
        window.dataLayer = window.dataLayer || [];
        function gtag(){dataLayer.push(arguments);}
        gtag('js', new Date());

        gtag('config', 'UA-167171727-1');
    </script>

    <!-- Google Tag Manager -->
    <script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
        new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
        j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
        'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
        })(window,document,'script','dataLayer','GTM-W7B7P7X');</script>
    <!-- End Google Tag Manager -->
</head>
<body>
    <!-- Google Tag Manager (noscript) -->
    <noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-W7B7P7X"
        height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
    <!-- End Google Tag Manager (noscript) -->
    
    <!-- Third Section Description Banner -->
    <div class="uk-grid-collapse uk-text-center section-title" uk-grid>
        <div class="uk-width-expand">
            <div class="uk-card uk-card-default  uk-card-body" id="third-section">
                <h3 id="third-section-title">¿Sabias qué?</h3>
            </div>
        </div>
    </div>
    <div class="uk-child-width-1-2@s uk-grid-match blog" uk-grid>
        <div>
            <div class="uk-card uk-card-default uk-card-hover uk-card-body">
                <div class="uk-card-header">
                    <div class="uk-grid-small uk-flex-middle" uk-grid>
                        <div class="uk-width-auto">
                            <img class="uk-border-circle" width="60" height="60" src="img/foto_vidina.jpg">
                        </div>
                        <div class="uk-width-expand">
                            <h4 class="uk-margin-remove-bottom">Automatización y productivización de procesos desarrollados en python usando Process Manager</h4>
                            <p class="uk-text-meta uk-margin-remove-top" style="margin-bottom: 0px;">Vidina Rivera</p>
                            <p class="uk-text-meta uk-margin-remove-top" style="margin-bottom: 0px;">Data Scientist Finanzas</p>
                            <p class="uk-text-meta uk-margin-remove-top"> vriverag@bbva.com </p>
                        </div>
                    </div>
                </div>
                <div class="uk-card-body">
                    <p>Con el objetivo de optimizar el flujo de productivización de notebooks, aprovechando la disponibilidad de los componentes de Process Manager Productivo y apoyados en los lineamiento del DOM 2.0, todos los desarrollos del caso de uso KPI estratégico RORC/RAROEC se están productivizando sin migraciones de código y con pruebas de calidad que apuntan directamente a Live.</p>
                </div>
                <div class="uk-card-footer">
                    <a href="https://docs.google.com/document/d/1xXZc-L4Q1Ooda4M39av8Oyzpda9KfoIxP-NLq1S8ank/edit?usp=sharing" class="uk-button uk-button-text" id="ad-ed1-1" style="font-weight: 500;" target="_blank">Leer más</a>
                </div>
            </div>
        </div>
        <div>
            <div class="uk-card uk-card-default uk-card-hover uk-card-body">
                <div class="uk-card-header">
                    <div class="uk-grid-small uk-flex-middle" uk-grid>
                        <div class="uk-width-auto">
                            <img class="uk-border-circle" width="60" height="60" src="img/jose orrego.jpeg">
                        </div>
                        <div class="uk-width-expand">
                            <h4 class="uk-margin-remove-bottom">Onboarding Microstrategy, aprendiendo sobre la herramienta de reporting de Datio </h4>
                            <p class="uk-text-meta uk-margin-remove-top" style="margin-bottom: 0px;">Jose Orrego</p>
                            <p class="uk-text-meta uk-margin-remove-top" style="margin-bottom: 0px;">Data Specialist Finanzas</p>
                            <p class="uk-text-meta uk-margin-remove-top"> jose.orrego@bbva.com </p>
                        </div>
                    </div>
                </div>
                <div class="uk-card-body">
                    <p>La llegada de la herramienta de reportería, Microstrategy, abre muchas oportunidades, pero para aprovecharlas al máximo a través de un uso adecuado se están organizando Onboardings. En ellos se explica desde cero los pasos a seguir para utilizar la herramienta. En el caso de Finanzas, para llevar a la práctica lo aprendido se está realizando un piloto cuyo objetivo es medir/evidenciar la evolución de la rentabilidad de un cliente.</p>
                </div>
                <div class="uk-card-footer">
                    <a href="https://docs.google.com/document/d/1hVviatMlYWU74TdL9x8bMOA0TpHJixafJAZOIyNsaf0/edit?usp=sharing" class="uk-button uk-button-text" id="ad-ed1-2" style="font-weight: 500;" target="_blank">Leer Más</a>
                </div>
            </div>
        </div>

    </div>    
</body>
