.principal-banner {
    background-image:url(../img/fondo-2.png); 
    background-color: #042f66; 
    height: 400px;
    /*height: 40vh;*/
    /*background-position: top;*/
    background-position: 100% 30%;
    /*background-position: right;*/
    background-repeat: no-repeat;
    /*background-attachment: fixed;*/
    background-size: 1200px;
    background-size: cover;
    padding-top: 10px;
}

#principal-button{
  background-color:white; 
  text-align: center; 
  color:black; 
  background-color: white;
}

#title{
  color: white;
  text-align: center;
  padding-top: 20px;
  font-size: xx-large;
  margin: 0;
}

.section-title{
  margin: 0;
  padding-left: 10%;
  padding-right: 10%;
  padding-bottom: 50px;
  padding-top: 50px;
  width: 80%;
}

.section-title-ack{
  margin: 0;
  padding-left: 10%;
  padding-right: 10%;
  padding-bottom: 0px;
  padding-top: 50px;
  width: 80%;
}

.nav_align{
  height: 30vh;
  text-align: center;
  align-items: center;
  margin: 0;
  padding-left: 4%;
  padding-right: 4%;
  /*padding-bottom: 50px;
  padding-top: 70px;*/
}

  .button-edition{
    margin: 0;
    padding-left: 40%;
    padding-right: 40%;
    padding-top: 7px;
    width: 20%;
  }

  #first-section{
    height: 100px;
    background-color: #fdfd96;
    background-image: url(../img/amarello.svg);
    background-position: 90%;
    background-repeat: no-repeat;
    background-size: 70px;
    text-align: left;
  }

  .first-section{
    background-color: teal;
    margin: 0;
  }

  #first-section-title{
    color:#7e7e02;
    text-align: left;
    font-size: x-large;
    margin: -5px;
    padding: 0;
  }

  #second-section{
    height: 100px;
    background-color: #8cb9e5;
    background-image: url(../img/blua.svg);
    background-position: 90%;
    background-repeat: no-repeat;
    background-size: 70px;
    text-align: left;
  }

  #second-section-title{
    color:#123352;
    text-align: left;
    font-size: x-large;
    margin: -5px;
    padding: 0;
  }

  #third-section{
    height: 100px;
    background-color: #c49bd7;
    background-image: url(../img/morak.svg);
    background-position: 90%;
    background-repeat: no-repeat;
    background-size: 70px;
    text-align: left;
  }

  #third-section-title{
    color:#422153;
    text-align: left;
    font-size: x-large;
    margin: -5px;
    padding: 0;
  }

  #fourth-section{
    height: 100px;
    background-color: #ff9e3c;
    background-image: url(../img/contribute.svg);
    background-position: 90%;
    background-repeat: no-repeat;
    background-size: 70px;
    text-align: left;
  }

  #fourth-section-title{
    color:white;
    text-align: left;
    font-size: x-large;
    margin: -5px;
    padding: 0;
  }

  #fourth-subsection{
    width: 100%;
    height: 50px;
    background-color: #ffca89;
    background-image: none;
    background-position: 90%;
    background-repeat: no-repeat;
    text-align: left;
    vertical-align: middle;
    display: table;
  }

  #fourth-subsection-title{
    color:white;
    text-align: left;
    font-size: large;
    margin:0;
    padding: 0;
  }

  #fifth-section{
    height: 200px;
    background-color: #042f66;
    background-image: url(../img/chat.png);
    background-position: 20%;
    background-repeat: no-repeat;
    background-size: 100px;
    text-align: center;
  }

  #fifth-section-title{
    color:white;
    text-align: center;
    font-size: x-large;    
    margin: 0px;
    padding: 0px;
  }

  #sixth-section{
    height: 100px;
    background-color: #93ffda;
    background-image: url(../img/party.png);
    background-position: 90%;
    background-repeat: no-repeat;
    background-size: 70px;
    text-align: left;
  }

  #sixth-section-title{
    color:#009361;
    text-align: left;
    font-size: x-large;
    margin: -5px;
    padding: 0;
  }

  .blog{
    margin: 0 !important;
    padding-left: 10%;
    padding-right: 10%;
    width: 80%;
    padding-bottom: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  #footer{
    background-image: url(../img/chat.png);
    background-position: 20%;
    background-repeat: no-repeat;
    background-size: 100px;
    background-color: #042f66;
    height: 200px;
    text-align: center;
    color: white;
  }

  #footer-title{
    text-align: center;
    margin: 0;
    padding: 0;
    color: white;
    display: table-cell;
    vertical-align: middle;
  }

  .communityLogo:hover{
    background-color: #1e87f0 !important;
  }

  .hiddenStyle{
    visibility: hidden;
    display: none;
  }
  .showStyle{
    visibility: visible;
    display: block;
  }
  #title-header{
    color: white;
    padding:0; 
    font-size: 40px;
  }
  #header{
    background-color: transparent; 
    padding-top: 80px;
  }
  .parentTextNav{
    text-align: center;
  }
  .textNav{
    font-size: 20px;
  }
  .buttonAA{
    font-weight: 500; 
    background-color: #fde396; 
    padding: 10px 20px;
  }
  .buttonAA:hover{
    background-color: #fdf496;
  }

  .buttonDG{
    font-weight: 500; 
    background-color: #8ccfe5; 
    padding: 10px 20px;
  }
  .buttonDG:hover{
    background-color: #8cc0e5;
  }

  .buttonSQ{
    font-weight: 500; 
    background-color: #b59bd7; 
    padding: 10px 20px;
  }
  .buttonSQ:hover{
    background-color: #bf9bd7;
  }
  
  .titleBlogAA{
    color: #9C6C01;
  }

  .titleBlogDG{
    color: #1973B8;
  }

  .titleBlogSQ{
    color: #6754B8;
  }

  .ani-5{
    background-image: url(../img/bbvabg3.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-color: #042f66;
    background-position: center;
    text-align: center;
    color: white;
  }

  .birthdayCard{
    background-color: white; 
    padding-top: 10px; 
    margin: 0px !important;
  }

  .container {
    position: relative;
    width: 100%;
    height: 0;
    padding-bottom: 56.25%;
  }

  .video {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }

  @media only screen and (max-width: 1250px) {
    .principal-banner {
      background-image:url(../img/fondo-3.png); 
    }  
  }

  @media only screen and (max-width: 870px) {
    #title-header{
      color: white;
      padding:0; 
      font-size: 40px;
      margin-top: -40px;
    } 
    .textNav{
      font-size: 15px;
    }
    p {
      overflow: hidden;
      display: -webkit-box;
      -webkit-line-clamp: 3;
      -webkit-box-orient: vertical;
    }
    .principal-banner {
      background-image:url(../img/fondo-4.png); 
    }

  }
  @media only screen and (max-width: 640px) {
    #title-header{
      color: white;
      padding:0; 
      font-size: 30px;
      margin-top: 0px;
    } 
    #header{
      background-color: transparent; 
      padding-top: 0px !important;
    }
    #parentHeader{
      margin-top: 0px !important;
    }
    .textNav{
      font-size: 12px;
    }
    p {
      overflow: hidden;
      display: -webkit-box;
      -webkit-line-clamp: 3;
      -webkit-box-orient: vertical;
    }
  }
