<head>
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-5HY2SV2D93"></script>
    <script>
        window.dataLayer = window.dataLayer || [];
        function gtag(){dataLayer.push(arguments);}
        gtag('js', new Date());

        gtag('config', 'G-NMV1DY68T2');
        gtag('config', 'G-GS4E0YNDGD');
        gtag('config', 'G-PWFQECV8F2');
        gtag('config', 'G-VKTS8554K3');
    </script>
</head>

<body>

    <!-- First Section Description Banner -->
    <div class="uk-grid-collapse uk-text-center section-title" uk-grid>
        <div class="uk-width-expand">
            <div class="uk-card uk-card-default  uk-card-body" id="first-section">
                <h3 id="first-section-title">Advanced Analytics</h3>
            </div>
        </div>
    </div>
    <!-- First Section 1 info -->
    <div class="uk-child-width-1-1@s uk-grid-match blog" id="AAparentDiv" uk-grid>
        <div>
            <div class="uk-card uk-card-default uk-card-hover uk-card-body">
                <div class="uk-card-header">

                    <div class="uk-grid-small uk-flex-middle" uk-grid>
                        <div class="uk-width-expand">
                            <img src="img/articulos/AA1 - Monitoreo de Modelos Analíticos.jpg">
                            <h4 class="uk-margin-remove-bottom titleBlogAA">Monitoreo de Modelos Analíticos</h4>
                        </div>
                    </div>

                    <div class="uk-grid-small uk-flex-middle" uk-grid>
                        <div class="uk-width-auto">
                            <img class="uk-border-circle" width="60" height="60" src="img/cumple/HANS HIDALGO ALTA.png">
                        </div>
                        <div class="uk-width-expand name">
                            <p class="uk-text-meta uk-margin-remove-top" style="margin-bottom: 0px;">Hans Marlon Hidalgo Alta</p>
                            <p class="uk-text-meta uk-margin-remove-top" style="margin-bottom: 0px;">Data Scientist Client Solutions</p>
                            <p class="uk-text-meta uk-margin-remove-top">hans.hidalgo@bbva.com</p>
                        </div>
                    </div>

                </div>
                
                <div class="uk-card-body">
                    <p class="large-text">
                        Dentro de la CoE desarrollamos modelos analíticos para diversos productos o a nivel de clientes del banco, sin embargo, debido a la alta demanda de modelos esto se vuelve insostenible al momento de  medir el performance en el tiempo, ¿cómo saber si necesita recalibrar o desarrollar un nuevo modelo?, ¿se mantiene la eficiencia del modelo? ¿y la eficacia?, son preguntas que el visualizador de monitoring model puede responder para tener una administración de modelos adecuados.
                    </p>
                </div>

                <div class="uk-card-footer">
                    <div class="uk-grid-small uk-flex-middle" uk-grid>
                        <div class="uk-width-auto">
                            <img class="uk-border-circle" width="30" height="30" src="img/articulos/clock.png">
                        </div>
                        <div class="uk-width-expand name">
                            <p class="uk-text-meta uk-margin-remove-top" style="margin-bottom: 0px;"><b><i>Lectura de 4 min</i></b></p>
                        </div>
                        <br> <br>
                    </div>
                    <a href="https://drive.google.com/file/d/1TzSBCL5cPfrmrhrkjwMQ4qvYAnYS9Yf8/view?usp=sharing"
                        class="uk-button uk-button-text buttonAA" id="aa-ed4-1" style="font-weight: 500;" target="_blank">Conoce más aquí</a>
                </div>
            </div>

            <div class="uk-card uk-card-default uk-card-hover uk-card-body">
                <div class="uk-card-header">

                    <div class="uk-grid-small uk-flex-middle" uk-grid>
                        <div class="uk-width-expand">
                            <img src="img/articulos/AA2 - ¿Cómo publicar un paper indexado_.jpg">
                            <h4 class="uk-margin-remove-bottom titleBlogAA">¿Cómo publicar un paper en una revista indexada?</h4>
                        </div>
                    </div>

                    <div class="uk-grid-small uk-flex-middle" uk-grid>
                        <div class="uk-width-auto">
                            <img class="uk-border-circle" width="60" height="60" src="img/cumple/Oscar Huarcaya.jpg">
                        </div>
                        <div class="uk-width-expand name">
                            <p class="uk-text-meta uk-margin-remove-top" style="margin-bottom: 0px;">Oscar Huarcaya</p>
                            <p class="uk-text-meta uk-margin-remove-top" style="margin-bottom: 0px;">Data Scientist Client Solutions</p>
                            <p class="uk-text-meta uk-margin-remove-top">oscar.huarcaya@bbva.com</p>
                        </div>
                    </div>

                </div>
                
                <div class="uk-card-body">
                    <p class="large-text">
                        Cómo parte de mi experiencia académica tuve la oportunidad de participar en un proyecto de investigación científica, cuyo enfoque fue la optimización de modelos de aprendizaje supervisado usando algoritmos meta heurísticos para reducir el consumo de tiempo y recursos, minimizando el espacio combinatorio de hiper parámetros. Los resultados de esta investigación fueron superiores a los esperados y nos arriesgamos a publicarlo en una revista científica de alto impacto, lo cual no lo conseguimos a la primera pero al final lo logramos. En esta Newsletter te contaré desde mi experiencia que es un paper y todo lo que necesitas saber si quieres hacer uno por 500 puntos en Space Career.
                    </p>
                </div>

                <div class="uk-card-footer">
                    <div class="uk-grid-small uk-flex-middle" uk-grid>
                        <div class="uk-width-auto">
                            <img class="uk-border-circle" width="30" height="30" src="img/articulos/clock.png">
                        </div>
                        <div class="uk-width-expand name">
                            <p class="uk-text-meta uk-margin-remove-top" style="margin-bottom: 0px;"><b><i>Lectura de 3.5 min</i></b></p>
                        </div>
                        <br> <br>
                    </div>
                    <a href="https://drive.google.com/file/d/1awSjF7-J-N7Dh037-hYwz6FRCcTFx-vV/view?usp=sharing"
                        class="uk-button uk-button-text buttonAA" id="aa-ed4-1" style="font-weight: 500;" target="_blank">Conoce más aquí</a>
                </div>
            </div>
        </div>
    <div>

    <script>
        function checkWidth() {
            var w = window.innerWidth
            var h = window.innerHeight

            if (w < 920) {
                var aaDIV = document.getElementById("AAparentDiv")
                aaDIV.classList.remove("uk-child-width-1-1@s")
                aaDIV.classList.add("uk-child-width-1-1@s")
                var texts = document.getElementsByClassName("large-text")

                for (var i = 0; i < texts.length; i++) {
                    texts[i].style.overflow = "hidden"
                }
            }
            else {
                var aaDIV = document.getElementById("AAparentDiv")
                aaDIV.classList.add("uk-child-width-1-1@s")
                aaDIV.classList.remove("uk-child-width-1-1@s")
            }
        }
        $(document).ready(function () {
            checkWidth();
        })
        window.addEventListener("resize", function () {
            checkWidth();
        });
    </script>
</body>
