<head>
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-5HY2SV2D93"></script>
    <script>
        window.dataLayer = window.dataLayer || [];
        function gtag(){dataLayer.push(arguments);}
        gtag('js', new Date());

        gtag('config', 'G-NMV1DY68T2');
        gtag('config', 'G-GS4E0YNDGD');
        gtag('config', 'G-PWFQECV8F2');
        gtag('config', 'G-VKTS8554K3');

    </script>
</head>

<body>

    <!-- Third Section Description Banner -->
    <div class="uk-grid-collapse uk-text-center section-title" uk-grid>
        <div class="uk-width-expand">
            <div class="uk-card uk-card-default  uk-card-body" id="third-section">
                <h3 id="third-section-title">¿Sabias qué?</h3>
            </div>
        </div>
    </div>

    <div class="uk-child-width-1-1@s uk-grid-match blog" id="ADparentDiv" uk-grid>
        <div>
            <div class="uk-card uk-card-default uk-card-hover uk-card-body">
                <div class="uk-card-header">
                    <div class="uk-grid-small uk-flex-middle" uk-grid>
                        <div class="uk-width-expand">
                            <img src="img/articulos/SQ1 - La ruta_ Ways of Working.jpg">
                            <h4 class="uk-margin-remove-bottom titleBlogSQ">La ruta: Ways of Working</h4>
                        </div>
                    </div>
                    <div class="uk-grid-small uk-flex-middle" uk-grid>
                        <div class="uk-width-auto">
                            <img class="uk-border-circle" width="60" height="60" src="img/cumple/Vidina_Rivera.PNG">
                        </div>
                        <div class="uk-width-expand name">
                            <p class="uk-text-meta uk-margin-remove-top" style="margin-bottom: 0px;">Vidina Rivera</p>
                            <p class="uk-text-meta uk-margin-remove-top" style="margin-bottom: 0px;">Data Portfolio Management</p>
                            <p class="uk-text-meta uk-margin-remove-top">vriverag@bbva.com</p>
                        </div>
                    </div>
                </div>
                <div class="uk-card-body">
                    <p class="large-text">En junio 2021 se desplegó en Perú, el realease 2.0 de Ways of Working, con el objetivo principal de mejorar el desarrollo y despliegue de proyectos analíticos sobre Datio:
                        1) Reduciendo la recodificación de los proyectos, garantizando la calidad. 2) Proporcionando a DSc y DSp una metodología de desarrollo que incluyera las buenas prácticas heredadas del ciclo de vida del software. 3) Implementando mejoras sobre las distintas piezas de Datio, de cara a una mejor conexión entre ellas, de manera que la metodología de desarrollo esté integrada con el día a día de los DSc. 4) Definiendo la forma de trabajo colaborativa de un data scrum como mínima célula organizativa: perfiles involucrados, roles, responsabilidades y skills necesarias.</p>
                </div>
                <div class="uk-card-footer">
                    <div class="uk-grid-small uk-flex-middle" uk-grid>
                        <div class="uk-width-auto">
                            <img class="uk-border-circle" width="30" height="30" src="img/articulos/clock.png">
                        </div>
                        <div class="uk-width-expand name">
                            <p class="uk-text-meta uk-margin-remove-top" style="margin-bottom: 0px;"><b><i>Lectura de 5 min</i></b></p>
                        </div>
                        <br> <br>
                    </div>
                    <a href="https://drive.google.com/file/d/1t7EuSlkNWSUSTw35dEMUQtQZC-BjuW7f/view?usp=sharing"
                        class="uk-button uk-button-text buttonSQ" id="dg-ed4-1" style="font-weight: 500;"
                        target="_blank">Conoce más aquí</a>
                </div>
            </div>
        </div>
    </div>
    <script>
        function checkWidthAD() {
            var w = window.innerWidth
            var h = window.innerHeight

            if (w < 920) {
                var aaDIV = document.getElementById("ADparentDiv")
                aaDIV.classList.remove("uk-child-width-1-1@s")
                aaDIV.classList.add("uk-child-width-1-1@s")
                var texts = document.getElementsByClassName("large-text")

                for (var i = 0; i < texts.length; i++) {
                    texts[i].style.overflow = "hidden"
                }

            }
            else {
                var aaDIV = document.getElementById("ADparentDiv")
                aaDIV.classList.add("uk-child-width-1-1@s")
                aaDIV.classList.remove("uk-child-width-1-1@s")
            }
        }
        $(document).ready(function () {
            checkWidthAD();
        })
        window.addEventListener("resize", function () {
            checkWidthAD();
        });        
    </script>

</body>
