<head>
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-5HY2SV2D93"></script>
    <script>
        window.dataLayer = window.dataLayer || [];
        function gtag(){dataLayer.push(arguments);}
        gtag('js', new Date());

        gtag('config', 'G-NMV1DY68T2');
        gtag('config', 'G-GS4E0YNDGD');
        gtag('config', 'G-PWFQECV8F2');
        gtag('config', 'G-VKTS8554K3');
    </script>
</head>

<body>
    <section class="principal-banner">
        <div class="uk-child-width-expand@s uk-text-center" uk-grid>
            <div>
                <div class="uk-card-body" style="background-color: transparent;">
                    <img src="img/BBVA_RGB_Blanco.png" width="100px" alt="" style="padding-bottom: 20px;">
                    <br>
                    <a href="https://platform.bbva.com/en-us/disciplines-governance/communities/advanced-analytics/index.html#/"
                        id="aaCoPLogo" style="text-decoration: none;" target="_blank" class="communityLogo" title="Comunidad Advanced Analytics">
                        <img src="img/LOGO_luigi.png" width="75px" alt="" style="background: #ededed;" class="communityLogo">
                    </a>
                    <a href="https://teamspaces.bbva.com/teamspaces/data-governance-cop/overview" 
                        id="dgCoPLogo" style="text-decoration: none;" target="_blank" title="Comunidad Data Governance">
                        <img src="img/governance_logo.png" width="80px" alt="" style="background: #ededed;" class="communityLogo">
                    </a>
                </div>
            </div>

            <div id="parentHeader">
                <div id="header" class="uk-card-body">
                    <p id="title-header">Newsletter Data Perú</p>
                    <div class="uk-inline">
                        <button class="uk-button uk-button-default" type="button"
                            style="background-color: white;">Edición 7</button>
                        <div uk-dropdown="pos:bottom-center">
                            <ul class="uk-nav uk-dropdown-nav">
                                <li><a href="https://databbvaperu.gitlab.io/newsletter-data/ediciones/ed-6/">Edición 6</a></li>
                                <li><a href="https://databbvaperu.gitlab.io/newsletter-data/ediciones/ed-5/">Edición 5</a></li>
                                <li><a href="https://databbvaperu.gitlab.io/newsletter-data/ediciones/ed-4/">Edición 4</a></li>
                                <li><a href="https://databbvaperu.gitlab.io/newsletter-data/ediciones/ed-3/">Edición 3</a></li>
                                <li><a href="https://databbvaperu.gitlab.io/newsletter-data/ediciones/ed-2/">Edición 2</a></li>
                                <li><a href="https://databbvaperu.gitlab.io/newsletter-data/ediciones/ed-1/">Edición 1</a></li>
                            </ul>
                        </div>
                    </div>
                    <p style="color: gray; padding:0;">#AcelerandoLaTransformación</p>
                </div>
            </div>

            <div class="showStyle" id="hiddenDivAA">
                <div class="uk-card-body" style="background-color: transparent;">
                </div>
            </div>
        </div>
    </section>

    <div class="uk-width-expand@m uk-grid-small nav_align" style="margin:0px" uk-grid>
        <div class="uk-child-width-1-1@s uk-grid-match blog" id="DGparentDiv" uk-grid>
            <div style="text-align: center; padding-bottom: 10px;">
                <div class="uk-card uk-card-default uk-card-body" style="background-color: #2DCCCD;">
                    <div class="uk-inline">
                        <button class="uk-button uk-button-default" type="button" style="color:#ffffff;">Newsletter Global</button>
                        <div uk-dropdown="pos:bottom-center">
                            <ul class="uk-nav uk-dropdown-nav">
                                <li><a href="https://bbva-prensa-data.s3.amazonaws.com/2021/06_Jun/N26/NEWSLETTER_AA_26_SP.html">Edición 26</a></li>
                                <li><a href="https://bbva-prensa-data.s3.amazonaws.com/2021/05_May/N25/NEWSLETTER_AA_25_SP.html">Edición 25</a></li>
                                <li><a href="https://bbva-prensa-data.s3.amazonaws.com/2021/04_Abr/N24/NEWSLETTER_AA_24_SP.html">Edición 24</a></li>
                                <li><a href="https://bbva-prensa-data.s3.amazonaws.com/2021/03_Mar/N23/NEWSLETTER_AA_23_SP.html">Edición 23</a></li>
                                <li><a href="https://bbva-prensa-data.s3.amazonaws.com/2021/02_Feb/N22/NEWSLETTER_AA_22_SP.html">Edición 22</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
